[2018-11-01 22:31] jpfairbanks opened #1 "Explore Netlogo Models"
[NetLogo](http://ccl.northwestern.edu/netlogo/index.shtml) is a great source of user contributed models based across many domains.

Here is an example of an SIR model of information diffusion. http://ccl.northwestern.edu/netlogo/models/community/model-wom-information-seeking

[This](https://github.com/nldoc/nlrx) R package that lets you call NetLogo from R, which we could use to execute NL models.

[2018-11-07 13:43] jpfairbanks opened #2 "Define Knowledge Graph Schema"
I think we might want to use AllenNLP on ASKE to parse the documentation and find the Verb-Argument trees in software documentation. For the Initial approaches we need a plan of how NLP on the text embedded in code/model descriptions/documentation can be used to pull out a knowledge graph of concepts and how they relate to each other.

I'm thinking that the knowledge graph will have

Vertex Types:

[2018-11-17 00:03] jpfairbanks opened #3 "Metamodeling Framework"
I have implemented two models using DiffEq.jl in the repo. Now we need to start implementing the framework for metamodeling that allows us to use the output of one model as the input to another.

For example we have an SIR model and a SpringModel, we can use the spring model to simulate the initial population of the system before the epidemic starts.

Todo list
- [x] MetaModel type
- [x] Use units

[2018-11-28 14:25] jpfairbanks opened #4 "Use Documenter.jl for documentation"
We should use the documentation generator https://juliadocs.github.io/Documenter.jl/stable/man/guide/ for the docs in this package.

[2018-12-10 13:31] jpfairbanks commented on #4
the last step is to enable publishing.

[2018-12-11 01:29] jpfairbanks opened #8 "Should we recommend users build their own sysimg?"
Loading DifferentialEquations is slow, and we might want to have users add our dependencies to their system image.

https://docs.julialang.org/en/v1/devdocs/sysimg/#Building-the-Julia-system-image-1

Candidates include:

1. DifferentialEquations
2. Cassette
3. LightGraphs (not yet)

[2018-12-11 03:10] jpfairbanks opened #9 "IE Roadmap"
We need to have a plan for the information extraction tasks. Lets keep this thread open for discussions on the planning what to do for IE. For concrete action items, open new issues and pull requests. Then tag the new issue in the main list.

Start with https://github.com/epirecipes/epicookbook "the cookbook"

===

@scottagt's Note: Updated 12-11 @ 11am

- [ ] Task 1 - Feature Design and Developme

[2018-12-11 04:15] scottagt commented on #9
Hi @jpfairbanks, in case you're catching up on messages, wanted to make you aware that I wrote you about this last week and and an email today, about putting together a plan and tasks for IE. To summarize, @crherlihy and I have been putting together a list of IE tasks and a conceptual map that could be useful for contextualizing the other areas as well. I'd like to discuss and revise those and ult

[2018-12-11 12:18] jpfairbanks commented on #9
Scott, my latest email from you says

Please post that update to this issue before our meeting today so that I can be prepared for the discussion. We only have 5 working weeks until the next release is due, so we need to make the most of our weekly meetings.

[2018-12-11 12:23] #3 closed, assigned to nobody

[2018-12-11 12:31] jpfairbanks opened #10 "Cassette Compiler pass for extracting info"
We should explore the possibility of extracting variable names, values, and the function call graph using dynamic analysis with a cassette compiler pass. The alternatives include reading the source code with `Meta.parse(s::String)::Expr` and writing macros that function as annotations in the source code.

Pro:
  - Tracks code as executed
  - Access to the results of metaprogramming
  - No need to

[2018-12-11 12:43] jpfairbanks opened #11 "Using Cassette to overdub a scientific code"
When a scientist wants to build on the research of another, they start by asking hypothetical questions. These questions often involve making modifications to existing models. The simplest are changing parameters and that is easy, but a harder problem is changing functions or structure.

For example,

or

These questions can be hard to answer without modifying the source code for the model because

[2018-12-11 12:43] jpfairbanks commented on #11
This issue is addressed by PR #6

[2018-12-11 12:45] jpfairbanks commented on #10
TODO List
- [X] implement basic tracing based on casette docs
- [ ] get variable names out using contextual compiler pass
- [ ] build a graph connecting functions to their variable names from traces

[2018-12-11 14:34] jpfairbanks commented on #9
Sorry, I was writing for the perspective that you were reading it in the morning so "today" referred to this morning 12/11. Thanks for the update, I read the word doc this morning.

[2018-12-11 14:59] scottagt commented on #9
Oh no, it’s okay, I read today to be 12/11 when I replied a few minutes ago. I sent you a response email last night to your original comment referring to the earlier emails when you created the github issue but, your comment at 7:18 was after I sent you that email and updated word doc. I’m assuming perhaps you had just wrote on github before reading my email from last night. :) At any rate, I’ll u

[2018-12-11 16:58] jpfairbanks opened #12 "Run eidos to find definitions from cookbook"
Variable definitions from text

Input
-----

Output
-----
Definitions
- S: suceptible individuals
- I: infected individuals
- R: recovered individuals

Properties of things
- The susceptible-infected-recovered (SIR) model in a closed population was proposed by Kermack and McKendrick
-  γ is a per-capita rate
-  βI is a per-capita rate

[2018-12-11 17:05] jpfairbanks commented on #12
Per markdown file is a good scope to avoid collisions.

[2018-12-11 17:06] jpfairbanks opened #13 "Finding concepts that need definition"
We need a set of phrases that need definitions/expository text. and the hyperlinks that define them.

[2018-12-11 17:09] jpfairbanks opened #14 "Update Cookbook examples to Julia 1.0"
The cookbook targets 0.6. So none of the examples run in modern julia.

[2018-12-11 17:11] jpfairbanks commented on #13
Possible down stream use of this, ask UW researchers to give us all the hits for these terms.

[2018-12-11 21:53] crherlihy commented on #13
I pushed v1 of this to the cookbook_definitions branch; still have 2 more sections to go through in cookbook and definitions to fill in. There are dupes (of phrases) across sections because was sort anticipating a future use case where we need n-gram level labels. Next stage will be to review relevant academic papers and fill in DOIs and then find supporting paragraphs/definitions in the papers re

[2018-12-11 22:10] scottagt commented on #12
I've collected all the markdown files from the chapters section of the epirecipe cookbook and ran them through Eidos using the CoreNLPParser. The outputs, automatic annotations, for each corresponding file have been saved as JSON files. Attached is example output. I think the output is actually pretty encouraging.

Also, want to note there are separate tasks involved in recognizing entities, recog

[2018-12-11 22:33] jpfairbanks commented on #12
This looks great! I agree that the output is encouraging. I think the rule Christine had in mind was approximately

I think that is a good first order approximation of a "variable definition" rule.

From the description of eidos that I got from @adarshp, I understood that you could write rules that take the output of other rules to define higher level extractions.

I don't know how to translate

i

[2018-12-11 22:55] scottagt commented on #12
Thanks @jpfairbanks . I agree, it would be nice to be able to extract definitions like we were talking about for filling in human explainable generations.

So the rule-based portions of the system are defined from Odin grammars, and they link to this manual: https://arxiv.org/pdf/1509.07513.pdf I need to read it in detail; I'm not sure yet if Odin is being developed with definition extraction in m

[2018-12-11 23:06] scottagt commented on #12
@jpfairbanks The attached image, page 16 of the manual, example 15, is pretty close to what we want. except, we want to specify that some previously recognized entity (e.g. "Concept") to be used as the trigger instead of the lemma. I've been looking over the manual and I read at one point a trigger needs to be token sequence e.g. a verb like "phosphorylation" (which could be defined as an event).

[2018-12-11 23:08] scottagt commented on #12
@jpfairbanks Eidos has finished running on all the Epirecipe markdown documents, saved as JSON structured exports. Do you want to have those committed here or no?

[2018-12-11 23:14] jpfairbanks commented on #12
Yes that example is very similar to what we want. The explanation I was referring to was a verbal explanation so I don't have a document for it unfortunately.

If they are small enough, attach them to the issue. Otherwise share them in box.

[2018-12-11 23:17] scottagt commented on #12
@jpfairbanks Ah ok got it. I'll share on box. Also it's actually still running but will post what has been annotated so far. For actually looking at examples though, I recommend we use the web app annotation viewer, and we can do that tomorrow for specific examples but putting in the text to the web app.

[2018-12-11 23:39] adarshp commented on #12
Hi @scottagt, I'm going to actually redirect your question to @marcovzla, who is the author of ODIN - I haven't personally written ODIN rules, but my sense is that a rule to extract definitions is very much in the scope of ODIN.

[2018-12-11 23:43] jpfairbanks commented on #12
Thanks Adarsh.

@marcovzla, we are looking at this [textbook](http://epirecip.es/epicookbook/chapters/simple) and trying to pull out some useful information from the text. One thing that should be really easy to extract is the conceptual definitions of variables that will later be used in equations and code. You can see the example at the top of this thread.

Is there some resource for generally u

[2018-12-11 23:44] jpfairbanks commented on #4
Our travis builds take longer than 10 minutes... which will make this hard.

[2018-12-12 00:36] adarshp commented on #12
Besides the [ODIN manual](https://arxiv.org/abs/1509.07513), there is also a [repo with some small examples](https://github.com/clulab/odin-examples), the [ODIN Wiki](https://github.com/clulab/processors/wiki/ODIN-(Open-Domain-INformer)) and the [REACH reader](https://github.com/clulab/reach) which is a mature project that uses ODIN rules to extract information about biochemical reactions. Perhaps

[2018-12-12 00:48] scottagt commented on #12
Adarsh, thanks for this information!
________________________________
From: Adarsh Pyarelal <notifications@github.com>
Sent: Tuesday, December 11, 2018 7:36:09 PM
To: jpfairbanks/SemanticModels.jl
Cc: Appling, Scott; Mention
Subject: [BULK] Re: [jpfairbanks/SemanticModels.jl] Run eidos to find definitions from cookbook (#12)

Besides the ODIN manual<https://arxiv.org/abs/1509.07513>, there is also

[2018-12-13 02:50] jpfairbanks commented on #12
It looks like we have a draft of a rule that catches the variable definitions.

[code]
The next step is to define some more rules to catch more complicated definitions.

[2018-12-13 02:53] jpfairbanks opened #17 "Deploy Eidos on production hardware"
@tgoodyear is setting up the Eidos webapp on prem.

Open Questions:
1. How do we change the port that it runs on?
2. Can we modify the rules without restarting the service?

[2018-12-13 14:07] jpfairbanks commented on #2
The AutoMATES team has a format they use for knowledge extracted from fortran codes. Called a grounded function network. We should consider integrating with their representation. https://delphi.readthedocs.io/en/master/grfn_spec.html#top-level-grfn-specification

[2018-12-13 14:22] scottagt commented on #17
@jpfairbanks oh no, my intention wasn’t to suggest using the shell command line tool, just to communicate that I’ve come across an ability to reload grammars and then of course plug-in wherever it makes the most sense. :)
________________________________
From: James <notifications@github.com>
Sent: Thursday, December 13, 2018 8:23:25 AM
To: jpfairbanks/SemanticModels.jl
Cc: Appling, Scott; Mention

[2018-12-13 15:38] tgoodyear commented on #17
Sounds good, will do, thanks for finding.

Trevor

On Thu, Dec 13, 2018 at 9:22 AM Scott Appling <notifications@github.com>
wrote:

[2018-12-13 23:43] jpfairbanks commented on #9
This new linear algebra textbook just hit the julia community influencer network. http://vmls-book.stanford.edu/vmls-julia-companion.pdf Chapter 5 has an example of a linear dynamical system. Guess what domain they chose...

[2018-12-14 01:52] jpfairbanks opened #18 "Process Pathogen Examples"
The [Pathogen.jl](https://github.com/jangevaare/Pathogen.jl/blob/master/examples/01_SEIR_Simulation_and_Visualization.ipynb) library has some notebook examples. They have a few more advanced features. Plots, distributed computing, semantic representations of a `RiskPrior`, distributed computing, and MCMC for inferring parameters from data. These example notebooks will also be good material for our

[2018-12-14 01:55] jpfairbanks opened #19 "Pitt Modeling the World's systems conference."
We should work towards this Feb 1 deadline for an abstract at this conference. http://pittmodelingconference.sci.pitt.edu/call-for-papers/. It will be in DC and hosted by Paul Cohen, who is leading another ASKE team.

[2018-12-18 17:16] crherlihy commented on #2
Some thoughts on edge weights w/respect to path-finding algorithms:
The end-user may define cost in different ways; some that come to mind are:

- Computational efficiency (e.g., willing to accept a parameterized level of errror in exchange for improved runtime and/or storage requirements)
- Accuracy of results relative to empirical/observational data (e.g. minimizing accumulated error and/or fina

[2018-12-18 20:01] jpfairbanks commented on #13
LGTM by the end of the week.

[2018-12-19 16:59] jpfairbanks commented on #2
We can pull out asymptotic runtime and accuracy guarantees. We need to extract arbitrary tags on nodes.

[2018-12-19 17:03] jpfairbanks opened #21 "Write minimum working knowledge graph"
We should put a julia function that makes a minimum interesting knowledge graph in using https://juliagraphs.github.io/MetaGraphs.jl/latest/metagraphs.html into the example folder to flesh out the schema.

[2018-12-19 17:06] jpfairbanks commented on #21
Starting point.
[code]

[2018-12-19 17:08] scottagt opened #22 "IE Extraction Rules from Scripts using Cassette"
- Come up with initial list of extractions to use for Knowledge Graph

- List
  - Variables - e.g. i could be a variable, but is not a variable
  - Parameter -- e.g. "beta" is a parameter, is also a variable
  - Function Calls
  - Return Types

[2018-12-19 22:37] crherlihy commented on #19
I c/p their LaTeX template and sent overleaf invitations to everyone.

[2018-12-20 14:10] jpfairbanks commented on #21
In metagraphs you can make a DataFrame with columns you want like `src,dst,eprop1,eprop2,eprop3...` with an arbitrary number of columns and then `g = MetaGraph(dataframe)` will populate all the edges with those properties. Then we could add the vertex properties with a loop to set those vertex properties from a second dataframe `vertex, vprop1, vprop2, vprop3...`

The properties are stored in a di

[2018-12-20 15:37] jpfairbanks commented on #21
Cool, the dataframe components live here: https://github.com/JuliaGraphs/GraphDataFrameBridge.jl

[2018-12-20 16:54] crherlihy commented on #2
Just added `IsSubClassOf: SpecificConcept -> More General Concept` to the list above. Am trying to capture the OO idea of inheritance, which I think is related but distinct from the `IsComponentOf:` edge type. I think this can be used to capture information such as "independent variable -> Variable", which can be helpful down the road when we need information about which variables are more likely

[2018-12-20 18:19] jpfairbanks commented on #2
That paper is a good find, it looks like they have Syntax edges that map onto the programming language syntax and Dataflow edges that represent the flow of data between variables.

The Julia syntax is pretty simple, everything is in an Expr object which has a `head` which tells you what type of syntax it is and a list of `args` that are the subcomponents. Here is a list of what various Julia synta

[2018-12-20 18:49] scottagt opened #23 "Meta-Modeling Use Cases"
This issue is related to documenting a list of potential, planned, and excluded meta-modeling use cases based on available and unavailable resources:

### Supported

### Unsorted

1. Scientist wants to integrate model variables (and potential parameters previously set to those variables) from another instance of a model from the same family e.g. SIR Paper 1 and SIR Paper 2
1.1 Scientist provides s

[2018-12-20 18:57] scottagt commented on #2
Great question. I think to answer that will partially require outlining our initial meta-modeling uses cases. I just created a new issue #23 to start tracking ones we want to support, those that can't be supported, and the undecided. :) I think we could develop uses cases and see if there's learning tasks that would be helpful to accomplish to make them happen or build use cases based on kinds of

[2018-12-31 16:13] crherlihy commented on #2
@scottagt interesting paper; thanks for posting! Am reading through now.

@jpfairbanks @scottagt re the question:

- To me it is interesting to think about graphs (derived from code) that may not be isomorphic at the lowest level (e.g., when we extract directly from code), but at higher levels of abstraction may be isomorphic. This can help us to identify families of functions, and/or when differe

[2018-12-31 17:08] jpfairbanks commented on #2
@crherlihy I think those are good tasks on the code graphs.

When doing matching of "isomorphic" subgraphs, we will definitely have to either change level of abstraction or have a fuzzy definition of "isomorphic". I think there will be very few exact isomorphisms larger than 3-5 vertices.

[2019-01-02 18:58] scottagt commented on #22
Getting back from winter break and looking at this now

[2019-01-02 19:01] scottagt opened #24 "Learning Julia"
Thanks James for the Julia tutorial reference:
http://ucidatascienceinitiative.github.io/IntroToJulia/

Looking at it this week

[2019-01-05 00:02] jpfairbanks commented on #17
After our call with team Clulab, I think we should run the CLI app they wrote for us and put the output into a solr store.

PR pending with JSON output. https://github.com/ml4ai/automates/pull/6

[2019-01-05 00:04] jpfairbanks commented on #23
See #16 for a place to add ideas as they crystalize. I think that use case planning will be a part of our next report.

[2019-01-07 17:48] jpfairbanks commented on #12
So if we run Odin (specifically the ExtractAndExport application) we get text mentions that look like this:

[code]

What is the ideal storage format for them?

[2019-01-07 18:29] jpfairbanks opened #26 "Refactoring complex models from script to semantic representation"
This model is sufficiently complex to think of as a model with sub components.

http://epirecip.es/epicookbook/chapters/ross2010/julia

There is a block to set up the parameters

[code]
This is a nice block because it tells us what the variables mean with human readable comments, even though the variable names aren't that intuitive.

Then we have a helper function that will calculate rates.
[code]

[2019-01-07 18:44] jpfairbanks commented on #2
I just merged #27 which forms a basis to build off of. What do you think?

[2019-01-07 20:53] jpfairbanks commented on #2
We should add a specification of type constraints to the knowledge graph schema example.

[code]

[2019-01-08 14:19] #11 closed

[2019-01-08 14:31] jpfairbanks commented on #12
@scottagt can you bring the new rules that you wrote into the new repo https://github.com/ml4ai/automates/tree/master/text_reading/src/main/resources/org/clulab/aske_automates/grammars and add them here. then rerun it on the cookbook?

[2019-01-08 14:32] jpfairbanks commented on #13
We can work with the web definitions for now. Lets put the academic defs on the backburner.

[2019-01-08 14:32] #13 closed

[2019-01-08 14:33] jpfairbanks opened #28 "Find academic definitions for the cookbook"
This is a follow up to #13

[2019-01-08 14:59] jpfairbanks commented on #21
The next step is to flesh this out for the rest of the flu example.

edge -> relation -> attr of the relation.

[2019-01-08 15:18] crherlihy commented on #21
1. See [here](https://github.com/jpfairbanks/SemanticModels.jl/tree/master/examples/knowledge_graph) for first pass at graph development from .csv files containing vertex types/attributes, src/dst vertex ids and attributes, and the underlying schema.

2. @jpfairbanks and I discussed modifying the edge information data structure to be more along the lines of:

IsCalledBy, function, function, argume

[2019-01-08 15:47] jpfairbanks commented on #21
Yes I agree with all of this.

[2019-01-08 18:05] crherlihy commented on #21
See [here](https://github.com/jpfairbanks/SemanticModels.jl/tree/kg_v2) for first draft of vertex types with definitions.

[2019-01-09 14:57] scottagt commented on #12
@jpfairbanks Sure thing. Do we have our own branch of that repo that we want to use as a staging place? And then before making a push request to their repo, I'd like to check with them about pushing our new rules file and where they want to put it.

[2019-01-09 18:37] jpfairbanks commented on #12
go ahead and make a fork of their master branch under your account, or push a branch to this fork that I made. https://github.com/jpfairbanks/automates

[2019-01-09 21:37] infvie commented on #23
I think for very general and common model set ups (e.g. SIR Models, Econometric Models, ect.) that we should include a collection of papers by default if the author doesn't want to build their own corpus of works. This could be a part of this project or live in their own repos which are called by our project. The idea that I am trying to get at is how there already data sets pre-loaded into many m

[2019-01-09 21:55] jpfairbanks commented on #23
Yeah we definitely want to have at least all the models from the EpiRecipes cookbook in a prepopulated collection of models. FluxML calls this a model zoo https://github.com/FluxML/model-zoo/ which has the demos and models you can build from.

Right now these should be added to the `/examples/` folder in this repo. I think that is a good place to incubate them for now.

[2019-01-10 02:48] jpfairbanks opened #32 "Evaluation Criteria"
I'm just thinking ahead to the part where we write a paper on this thing, how do we evaluate that it works?

We are kind of defining the problem that we want to solve from scratch, so if we want to make a quantitative comparison we will need to find a published task and show that we are better than a baseline that is already published.

We could also think of writing more of a theory paper, where

[2019-01-11 15:16] infvie opened #33 "Translating EpiCookbook"
This is going to be an issue space where Kun and I will be tracking progress on the translation of the Epi Cookbook from Julia v0.6 to Julia v1.0. We will be posting issues here when we need help.

[2019-01-11 15:41] jpfairbanks commented on #33
Here is the tutorial for new Diffeq.jl http://docs.juliadiffeq.org/latest/tutorials/ode_example.html

[2019-01-11 17:02] infvie commented on #33
![image](https://user-images.githubusercontent.com/41996797/51048235-70037d80-1598-11e9-8a8c-e5d7c807fadc.png)
@jpfairbanks There is still an option to use the macros to add the systems of equations vs adding a function. Do you think it would be better to have them formatted as functions of through this? I think that scientists would favor the function implementation and most code the model would

[2019-01-11 17:46] jpfairbanks commented on #33
I think the function approach might be more popular, but its good to know that both options are available. There is also https://github.com/JuliaDiffEq/ModelingToolkit.jl which I think is the next generation version.

[2019-01-11 20:35] scottagt commented on #12
@jpfairbanks I got to investigate some new options and got more familiar with the new automates code base. I've ported over the new rules into the system and made changes in a branch on our fork of their repo. I'm going to submit a pull request and you can have a look. Attached are sample input and outputs from testing. The output is the json file (had to zip it). "Definition" was found as expecte

[2019-01-11 20:35] #12 closed

[2019-01-15 14:39] scottagt opened #34 "Definition and Concept Vertex Creation from Automates"
- [x] Create a Julia script that runs the automates system over a given directory of EpiRecipe cookbook files
From those outputs, create two kinds of edges:
- [x] Concept - Concept Name + Hash Value of definition text
- [x] Definition - long string text description associated with Concept
- [x] Create an edge from Concept to Definition: "is defined by"

[2019-01-15 14:42] scottagt commented on #34
- Create a Julia script that runs the automates system over a given directory of EpiRecipe cookbook files
- From those outputs, create two kinds of edges:
 - Concept - Concept Name + Hash Value of definition text
 - Definition - long string text description associated with Concept
- Create an edge from Concept to Definition: "is defined by"

[2019-01-15 23:56] jpfairbanks commented on #2
#31 introduced the vertex types. We still need to write down the edge types.

[2019-01-17 01:36] scottagt commented on #34
So it turns out that the output files from automates still use the "cause" and "effect" syntax. I'm going to check if I can change that if we don't care about maintaining compatibility with our rules working in their existing web app.

- At the moment, the code I have assumes JSON output from is coded with cause/effect keys identified for concept and definition attributes
- Currently I'm using Lig

[2019-01-17 01:45] scottagt commented on #34
Concerning running Automates (Scala code):

There's a lot of dependencies that need to be installed for Scala to work with it and the run command loads a large set of JAR files that one would need to have installed. I'm wondering if it may be better that we run an Automates server and wrap an API around it and then send requests for parsing to it? @jpfairbanks thoughts? If we attempted to hard cod

[2019-01-17 01:52] scottagt commented on #34
Looking at MetaGraphs, going to utilize that I think instead since it builds on LightGraphs, etc.

[2019-01-21 17:42] infvie commented on #33
@jpfairbanks I think that we are good to close this issue now.

[2019-01-21 18:58] jpfairbanks commented on #33
Let's make a PR to this repo that adds the updated notebooks in jupytext.jl format to the folder https://github.com/jpfairbanks/SemanticModels.jl/tree/master/examples/epicookbook and then we can close this. and #14

[2019-01-21 18:59] jpfairbanks commented on #34
Closed by #36

[2019-01-21 18:59] #34 closed

[2019-01-21 19:00] #17 closed

[2019-01-21 19:47] kuncao0228 commented on #33
@jpfairbanks created the PR

[2019-01-22 14:12] jpfairbanks commented on #33
Link?

[2019-01-22 16:24] kuncao0228 commented on #33
@jpfairbanks
https://github.com/jpfairbanks/epicookbook/pull/1

[2019-01-22 16:41] #24 closed

[2019-01-22 16:46] scottagt opened #39 "Managing Corpora of Raw Text and Parsed JSONs"

[2019-01-22 16:52] scottagt commented on #39
That's so funny. I was just writing you in Slack about where to store KGs we create :)

[2019-01-22 16:59] jpfairbanks commented on #39
Christine and were thinking of ways to store the KG, one way is to put a data creation script in a `.jl` file and then use `include(file.jl)`. This avoids the problem of picking a serialization format, but has security concerns. I think that having our API be "use a script to load data" and then we could write some scripts that use different formats.

[2019-01-22 16:59] jpfairbanks commented on #39
The problem with that approach is that serializing into the script will be difficult.

[2019-01-22 17:12] scottagt commented on #39
@jpfairbanks For this issue, do you want to put it on hold then? I created in reference to your comment at the end of #34 :

[2019-01-22 17:19] scottagt opened #40 "Storing Knowledge Graph"
@jpfairbanks wrote:

and also mentioned serialization as a problem.

@jpfairbanks @crherlihy What about storing the KG in a database of some kind? I'm not suggesting it be graph or SQL or no-SQL but to discuss the approaches.

And then, for making it available to others to peruse, we can create a process for relevant individuals (program/project/research-affiliated) to submit a request to have a r

[2019-01-23 20:05] scottagt opened #41 "Extracting Comments from Jl Files for Automates Parsing"
- Create a Julia script to read Julia Source files and extract comments from them
- Comments begin with a \# sign

[2019-01-23 20:08] jpfairbanks commented on #41
The scripts are currently in this folder https://github.com/jpfairbanks/epicookbook/tree/master/updatedJulia

[2019-01-23 20:08] scottagt opened #42 "AUTOMATES Definitions from Source Comments"
- Review and analyze several Julia source files / notebooks from EpiRecipes cookbook
- Determine any additional AUTOMATES extraction rules that could be useful to extracting concepts for potential inclusion in knowledge graphs

[2019-01-23 20:08] jpfairbanks commented on #41
1. Extract text from comments
2. Run through automates to get JSON
3. Run JSON through julia script to build MetaGraph.

[2019-01-23 20:09] scottagt commented on #42
Scripts from: https://github.com/jpfairbanks/epicookbook/tree/master/updatedJulia

[2019-01-23 20:13] scottagt commented on #41
@jpfairbanks So this issue is just for extracting comments, not 2 or 3, just want to note that. I'm creating a different issue that can start based on those components :)

[2019-01-23 20:13] scottagt opened #43 "Building MetaGraph from Source Texts"
Extract text from comments
Run through automates to get JSON
Run JSON through julia script to build MetaGraph.

[2019-01-23 20:17] scottagt commented on #43
For 2nd item - we still need a way to run automates in a workflow or maybe we just run as a pre-processing step and provide the outputs? @jpfairbanks @crherlihy  Thoughts or preferences? I think we discussed doing an API but is that needed sooner or later?

[2019-01-23 22:09] jpfairbanks commented on #43
Either a bash script stored in `SemanticModels/bin/automates.sh` or a julia script that uses *run(`cmd args...`)* stored in `SemanticModels/bin/automates.jl` would work for me see https://docs.julialang.org/en/latest/manual/running-external-programs/ for details on how to do that. Bash script might be easier at first.

[2019-01-23 22:10] jpfairbanks commented on #42
Do you mean documentation strings/comments? Or are you referring to the things pulled out by cassette?

[2019-01-24 15:30] #2 closed, assigned to nobody

[2019-01-24 15:35] jpfairbanks opened #45 "Documentation changes for 0.2"
We need to update the docs to reflect our progress, here are some things to update, if you think of more, comment on this issue. If you wrote the code for something, please file a docs PR adding the change to the file listed in parentheses.

- [ ] Cookbook (doc/src/cookbook.md)
- [ ] Knowledge Graph Schema needs to be visualized and explained (doc/src/schema.md)
    - [ ] Example KG put in docs
-

[2019-01-24 16:35] jpfairbanks commented on #18
There are only two examples and we should contrast them about how the pathogen system is a specialized tool for epi modeling, whereas the cookbook uses general purpose ODE solvers. We want to highlight something around how we want to extract the structure that the programmer writes explicitly into the pathogen example, from the cookbook examples.

[2019-01-25 01:20] jpfairbanks opened #50 "Managing Automates dependency and text data"
We need to make a decision about how to manage our dependency on automates and the source data of the cookbook.

I'm inclined to track the upstream of automates and use the CLI tool they wrote for us that I extended to make JSON outputs. I made a webhosting space for us at aske.gtri.gatech.edu so we can host datasets and stuff there.

[2019-01-25 15:54] jpfairbanks opened #51 "Finding more NLP rules"
@infvie is going to work on collecting more knowledge elements from the cookbook text (beyond the definitions) and coming up with odin patterns that will find those knowledge elements.

The result should be captured in a CSV table similar to PR #15 `examples/knowledge_graph/relations.csv` is a goo place to store it.

[2019-01-25 19:12] infvie commented on #51
@jpfairbanks when you say store in relations.csv do you mean just append that?

[2019-01-25 19:18] scottagt commented on #51
@jpfairbanks this sounds like what I'm working on with the definitions but I can totally work on something else if you @infvie to pick it up, just let me know :)

[2019-01-25 19:19] scottagt commented on #51
@jpfairbanks I'm about to commit some extraction code which grabs all the comment lines from a Julia file and all the parameters from a function and comes back with the intersection of the lines that match any of the parameters from the signatures.

[2019-01-25 19:32] jpfairbanks commented on #51
@scottagt thanks for letting us know, before work got duplicated. Lets get what you have, as of now, posted as a PR so that @infvie can take a look and continue building on it.

[2019-01-25 19:35] scottagt commented on #51
@jpfairbanks ok great; I'm testing right now and will be adding to the info_extract branch and make a PR off of that within the next hour I suspect

[2019-01-25 19:49] jpfairbanks commented on #51
btw to answer the original question:

I meant to create a file `examples/epicookbook/relations.csv` for your manually extracted relations.

The CSV should have columns: `pageURL, originaltext, subject, verb, object`

[2019-01-25 23:36] #33 closed

[2019-01-27 15:51] #14 closed

[2019-01-27 15:52] jpfairbanks commented on #8
We have decided not to do this yet, but it could come up as load times get worse.

[2019-01-27 15:52] #8 closed

[2019-01-27 18:31] jpfairbanks commented on #1
We decided that the cookbook would play the role of our initial testing set. Netlogo is still a good place to find examples, but the cookbook already has epidemiology ones implemented in julia.

[2019-01-27 18:31] #1 closed

[2019-01-28 01:38] jpfairbanks commented on #45
@scottagt can you write up a few paragraphs on the rule based methods both automates rules you wrote and PR #52? I want to show that we are playing nice with the automates team and being collaborative. Please write it in a new markdown file and make a PR.

[2019-01-28 21:47] scottagt commented on #45
@jpfairbanks Yes, I'll work on that next

[2019-01-29 14:13] #41 closed

[2019-01-29 17:56] jpfairbanks opened #62 "Datasets findings"
Ben can you write up your detaset findings as doc/src/datasets.md make PR? Here are my notes:

We need for each data set, the schema, the source/context it was collected in, any IP restrictions, size.

Flu
- case counts, with weather and demographics state level, weekly, 10yr
- Insured rate, hospital beds per capita (medical services rate)
- Vaccination rate (flu) annual, estimate of coverage thro

[2019-01-29 18:02] jpfairbanks opened #63 "RNN approach findings."
Ben can you write up your rnn findings as doc/src/datasets.md make PR? Here are my notes:

- Best practice architectures
- Flux looks good
- IO format: need working examples

- [ ] What architectures look promising
- [ ] What adaptations will we need to make?

For both, why?

[2019-01-30 15:08] crherlihy opened #64 "Develop algorithmic approach to reconcile/connect science and code vertices in KG"

[2019-01-30 15:16] crherlihy opened #65 "Add ideas about reasoning approach to docs"

[2019-01-31 04:30] jpfairbanks opened #66 "Reasoning for model modification"
I think we can illustration how graph reasoning enables model modification on our working example by looking at these subgraphs of the knowledge graph. For the worked out example, we can highlight how the Scaling Model is connected to dS is connected to the `r(1-S/K)S - beta*S*I` component and the SEIR model is connected to S to Y[1] and dY[1] is connected to `mu - beta*S*I - mu *S`. That path is

[2019-01-31 06:32] #23 closed

[2019-01-31 07:07] jpfairbanks opened #67 "Release 0.2 checklist"
- [x] update readme
- [x] clear out issues
- [x] send PDF of progress.md to aske@darpa.mil

[2019-01-31 07:10] jpfairbanks opened #68 "Installation instructions and testing"
We need to bundle this software including a demo for DARPA to test. They suggested a jupyter notebook.

- [x] how to get julia installed (docker?)
- [x] what will go in notebook
- [x] how to test notebook (jupytext?)
- [x] how to bundle deps for easy install

[2019-01-31 17:05] scottagt commented on #42
@jpfairbanks Just now seeing this. Yes, was referring to any lines that begin with a pound sign. Oh no, not referring to cassette. Also, I mentioned I was going to work on this one next yesterday having finished another issue up. Did you mean to close it?

[2019-01-31 20:58] scottagt commented on #42
@jpfairbanks I found these recommendations for documenting source code in Julia including defining parameters: https://docs.julialang.org/en/v1/manual/documentation/#Documentation-1

If we expect to be working with code that is documented following those stylistic conventions then it may be worth writing more code-focused extraction rules with them.

Another area of interest could be in extracting

[2019-02-01 14:55] infvie commented on #4
Doc fixes : Intended Use Cases
- Intro
  - latex rendering issue?
- Answering Counterfactual
  - the numbering for this is off
- Instrumenting Model Code
  - include Lotka-Volterra population dynamics latex

[2019-02-01 15:00] #65 closed

[2019-02-01 15:00] #66 closed

[2019-02-01 15:01] jpfairbanks commented on #39
@scottagt what is the path on box to the current version of the Automates output JSONs?

[2019-02-01 15:06] jpfairbanks commented on #19
The deadline was moved two weeks back so we have until Feb 14. I think we can include
- [ ] Intro
  - [ ] Related work
  - [ ] Contributions
- [ ] theory.md
- [ ] Model modification example (perturbation of SIR)
- [ ] Grafting Example
  - [ ] extraction (show the rules and the graphs)
  - [ ] reasoning (example from docs)
  - [ ] generation (some runtime numbers to show it isn't slow)
- [ ] Conclu

[2019-02-01 15:07] jpfairbanks opened #74 "Draw SIR model as a category"
Manual graphviz drawing for now. Future work should use CatLab.jl

[2019-02-01 15:20] jpfairbanks commented on #42
`/bin/extract.jl` uses the library function `Base.Meta.parse` to extract the same AST that the julia compiler gets and then extracts stuff using hand written rules (that christine and I came up with). Rule based extraction is very effective on source code, because the semantics of julia code are precisely defined.

[2019-02-01 15:31] jpfairbanks commented on #42
`src/parsers.jl` is the library that `bin/extract.jl` uses to do the parsing part so you could add more rules in there.

[2019-02-01 15:42] infvie commented on #4
Doc fixes : Approaches
- almost none of the citations or hyperlinks are working :  why are none of these rendering?
  - really bad in EpiModels Example
- Information Extraction
  - no talk of caching
  - Personally, I feel one of the strongest points of this project is that we can store huge graphs locally, and scientist can easily use this pre-made corpus, but there is literally no mention of thi

[2019-02-01 15:48] scottagt commented on #39
The path to the input files is:
``/ASKE/Areas/Information Extraction/epireceipes_Automates_GTRI_ASKE_2rules_input``

The path to the output files is:
``/Users/scott/Box/ASKE/Areas/Information Extraction/epireceipes_Automates_GTRI_ASKE_2rules_output``

[2019-02-01 15:49] scottagt commented on #39
The path to the input files is:
``/ASKE/Areas/Information Extraction/epireceipes_Automates_GTRI_ASKE_2rules_input``

The path to the output files is:
``ASKE/Areas/Information Extraction/epireceipes_Automates_GTRI_ASKE_2rules_output``

[2019-02-01 15:59] infvie commented on #4
Doc fixes : dubstep
- Computer langs by nature are designed to be mnemonic
  - why were TraceCtx & LPCtx chosen?
  - assumed knowledge of overdub

[2019-02-01 16:32] infvie commented on #4
1. Collect a sample of known “good” inputs matched with their corresponding “good” outputs, and a sample of known “bad” inputs matched with their corresponding “bad” outputs.
    - “Good” here is defined as: given these input(s), the model output(s)/prediction(s) correspond to expected or observed empirical reality, within an acceptable tolerance/range re: error.
    -  Edge cases to note but not

[2019-02-01 18:20] jpfairbanks opened #75 "Doc Fixes"
Put here any last minute v0.2 documentation fixes you find.

[2019-02-01 20:10] jpfairbanks commented on #39
Data is available at aske.gtri.gatech.edu/data

[2019-02-01 20:10] #39 closed

[2019-02-01 20:18] #74 closed

[2019-02-01 20:33] jpfairbanks commented on #51
Closed by https://github.com/jpfairbanks/SemanticModels.jl/tree/master/examples/knowledge_graph/manual

[2019-02-01 20:33] #51 closed

[2019-02-01 21:06] #4 closed

[2019-02-01 21:06] jpfairbanks commented on #9
Closed by #61

[2019-02-01 21:06] #9 closed

[2019-02-01 21:08] jpfairbanks commented on #22
We ended up using Base.Meta.parse and writing rules against the AST to get information out. Cassette is better suited for injecting information into codes rather than getting information out of them.

[2019-02-01 21:08] #22 closed

[2019-02-01 21:49] #75 closed

[2019-02-01 21:52] crherlihy commented on #64
We will need to consider the following:

- [ ] schema harmonization w/respect to extraction from code vs. graph

- [ ] ensure that text parsers are parsing text rather than code (otherwise, our code types will end up pointing to concepts that are in fact from code rather than domain-specific texts)

- [ ] selection of reasonable defaults for types, text, and value field(s) upon insertion

- [ ] al

[2019-02-01 22:04] jpfairbanks opened #78 "Semantic Version oops"
I called labeled everything v0.2 for the second milestone, but realized that is inconsistent with SemanticVersioning. So for now the docs are up at both aske.gtri.gatech.edu/v0.1 and aske.gtri.gatech.edu/v0.2. We will get the semver correct next time.

[2019-02-01 22:16] #67 closed

[2019-02-04 22:38] crherlihy commented on #42
@scottagt , @jpfairbanks I'm going through open issues as we start the next phase of work, and just wanted to add an observation here from the process I went to trying to manually create edges between the vertices we receive by parsing the epicookbook markdown, and the vertices we receive by parsing the associated code.

The result of the pre-automates matching of (comments) text to code (e.g., va

[2019-02-04 22:45] crherlihy commented on #78
for reference: [https://semver.org/](https://semver.org/).

[2019-02-05 13:42] scottagt commented on #42
@crherlihy Good points; I should clarify the check (or that particular motivation) is just one any number that could be done/had. In the context of linking variables to code phenomena, specifically function names and function parameters, it's one thing that could be done but not the only thing. And so agree, if there are other kinds of relationships that we know ahead of time we want to do extract

[2019-02-07 00:19] jpfairbanks opened #81 "Classifier for predicting when a math function will error"
For the validation functionality, we want to show that we can learn to predict when a model will fail based on traces of its execution.

Given a function `f`
[code]
Can we build a model that can determine if `f(x)` will return successfully or fail?
This seems like an oversimplified problem (why don't you just run it) but we want to generalize this to cases where the definition is more subtle, and

[2019-02-08 13:16] #28 closed

[2019-02-12 14:02] jpfairbanks commented on #68
@mehalter when you were testing the travis stuff, how did you do that? Did you make a docker container that built and ran everything? We should make a dockerhub image that installs all the dependencies and runs a jupyterlab instance. Then users can just run that and open the demo notebooks on their machines.

[2019-02-12 16:45] mehalter commented on #68
I just forked to my personal github and enabled travis and did pushes there to test the travis stuff. I couldn't figure out a good way to do it locally and be able to test the `travis.yml` syntax. I can work on a docker image to install everything and spin up a jupyterlab instance.

[2019-02-12 19:39] jpfairbanks commented on #68
yeah basically we want the deploy instructions for DARPA to be

1. `docker run -it -p8000:8000 -v/containerpath:$(pwd)/semanticmodels semanticmodels`
2. Open the browser to `localhost:8000`
3. Navigate to `examples/notebooks/example1.ipynb`
4. Run the cells

and the notebook `examples/notebooks/example1.ipynb` should be like

[code]
so that basically the notebook just shows you how to use function

[2019-02-13 12:45] crherlihy opened #85 "Make system architecture diagram linking formal representation -> KG -> use cases"

[2019-02-13 13:44] infvie commented on #32
I think a new way to think of how we can evaluate our model would be to consider the size of the set we can change or the domain of the category theory functions we define? Thoughts?

[2019-02-13 15:48] infvie commented on #19
# Overleaf
## Motivation
 - "This is due in part to the fact that the peer-reviewed publication process incentivizes novelty and (in so doing), indirectly discourages a subset of the collaborative efforts and convergence toward shared norms that might otherwise emerge; the silos that exist across disciplines only serve to exacerbate such challenges, and complicate the task of modeling complex phen

[2019-02-13 16:41] jpfairbanks commented on #85
Yes this is a good diagram to have. What do you have in mind?

1. Category theory for representing models at types/ologs/schemas
2. Knowledge Representation with Graphs
3. Model usecases

How do you want to visualize the usecases? Like a drawing of pairs of models?

[2019-02-13 17:24] jpfairbanks commented on #19
re: Significance

1. Cite this julia paper: https://epubs.siam.org/doi/10.1137/141000671?mobileUi=0
2. Most effort in analysis of programs is either in Functional Languages such as ML and Haskell, or in low level languages such as C/C++. However, scientists write in languages like Python, R, Matlab, and Julia. These languages have the flexibility and productivity that scientists prefer but are dif

[2019-02-15 18:54] crherlihy commented on #85
We also need to visualize this virtuous cycle:

[2019-02-16 18:09] crherlihy commented on #19
We submitted on 2/15/19. Will keep this issue open for future revisions and etc.

[2019-02-19 14:39] jpfairbanks opened #86 "Extract text without code"
We need a script in the /bin/ folder that extracts the text from a file, without the math and code. It should handle $\mu$ as "Mu".

[2019-02-19 14:40] jpfairbanks commented on #86
We should handle subscripts as well.

[2019-02-19 15:22] kuncao0228 commented on #86
Sounds good I’ll try to have something by eod tomorrow

[2019-02-19 15:57] jpfairbanks opened #87 "User interacton"
How the heck are people going to use the grafting functionality?

1. Ingest a set of models
    `models = ingest("src1.jl", "src2.jl"...)`
2. Refine types to establish every concept gets its own type
    `models = refine(models, tcallback)`
3. generate AST based graph showing expressions and variables
    `astgraph = MetaGraph(parse(models))`
4. user identifies a subgraph of nodes to start with in

[2019-02-20 17:34] kuncao0228 commented on #86
https://github.com/kuncao0228/SemanticModels.jl/tree/master/bin

Hey James,
I created a test, and utility for text extraction in the link above (testExtractTest.py & extractText.py). It currently handles equation removal as well as capitalization of variables. I want to add some additional tests/comments before the pull request.

[2019-02-20 18:46] jpfairbanks commented on #86
That looks good so far, go ahead and make the PR so we can do in line comments. My first thought is that that this also needs to cut out markdown stuff like headers and code block syntax.

[code]
    function foo(c)
        a,b = f(c)
        return b*a
    end
[code]

Which should extract to

[code]

[2019-02-20 18:48] jpfairbanks commented on #68
@mehalter, are you correctly configured as a collaborator on https://cloud.docker.com/u/jpfa/repository/docker/jpfa/semanticmodels? Can you push the dockerfile to that repo?

[2019-02-20 18:53] kuncao0228 commented on #86
https://github.com/jpfairbanks/SemanticModels.jl/pull/88
created the pull here.

Yea that was going to be my next goal to take in the entire intro.md file. I wanted the script to essentially run as "python extractTest.py <file path>".

[2019-02-20 18:54] kuncao0228 commented on #86
"python extractTest.py _directoryPath_"*

[2019-02-20 19:05] mehalter commented on #68
Looks good, I was able to push to the repo. Check it out by running
1. `docker run -it --rm -p 8888:8888 jpfa/semanticmodels:stretch`
2. Navigate to the link it returns `localhost:8888/?token=...`

Let me know if this looks like what you want.

[2019-02-22 17:24] infvie commented on #81
I think that another consideration or assumption that hasn't been made clear to me is if we expect all the scripts we are going to be digesting are relatively inexpensive to actually run? If a scientist wants to work on improving a script that might take a week to run the novelty of having a kg of the program which would take a week to build may not be worth it. How are we handling this? Are we ex

[2019-02-22 17:36] jpfairbanks commented on #81
Yeah, we expect to get the knowledge graph from running on small data sets which will be fast. The structure of the program shouldn't change when you scale up the input size.

[2019-02-25 15:05] kuncao0228 commented on #86
https://github.com/jpfairbanks/SemanticModels.jl/pull/88

Added to the original PR, creates output text file and ingests input files, fixes headers, added other filters

[2019-02-25 21:02] crherlihy commented on #87
@jpfairbanks and I chatted about this set of tasks today. As a starting point, I'm going to work on developing a method that ingests a set of julia programs, parses these programs to build a type graph per program, and (for each type graph), returns a set of high-degree vertices with their associated incoming and outgoing edges; the intuition here is that high-degree vertices in the type graph are

[2019-02-25 21:16] infvie commented on #87
@jpfairbanks  and @crherlihy  is christine taking over on what I am doing?

[2019-02-25 21:31] crherlihy commented on #87
@infvie nope; if there's sig. overlap, we can chat and I'll revise scope here. My intention was picking up where your function (eg type graph construction) leaves off. I just meant my function will call yours. Sorry for confusion.

[2019-03-01 20:56] jpfairbanks opened #94 "Autoencoder for model validation"
Could we build an autoencoder to represent code?
[code]

[2019-03-01 20:58] jpfairbanks opened #95 "Model Validation with Tree LSTM"
We should try tree based LSTMs on the code traces because they are inherently tree based. One problem with LSTMs is that they require use to serialize the code down to a sequence. But we have an inherent tree structure in our models.

[2019-03-01 20:59] jpfairbanks commented on #95
This model from the model-zoo shows how to do it for treebank. https://github.com/FluxML/model-zoo/blob/master/text/treebank/recursive.jl

[2019-03-04 21:26] jpfairbanks commented on #95
@gallupBenRyan I think this is a very good architecture to adapt. https://nlp.stanford.edu/sentiment/treebank.html it covers recursive sentiment in each subphrase of the tree. In our case the subtree is the trace of a subfunction and this really captures our notion that a function call `f(args...)` is valid if all of its subcomputations are valid, and invalid if any of its subcomputations are inva

[2019-03-05 02:33] jpfairbanks commented on #86
Once PR  #88 is closed we can close this issue

[2019-03-05 02:37] jpfairbanks opened #97 "Merging all knowledge graphs"
We need a strategy for how we are going to leverage each of these different knowledge graphs. Some of them have nice category theory principles behind them (ie. type and data flow graphs) but others are somewhat ad hoc. The combination of the dataflow graph with the type graph seems to be a productive avenue for further research. But I am not sure how to preserve the precise semantics of each grap

[2019-03-05 02:40] jpfairbanks opened #98 "Polishing up the grafting example"
The grafting example really shows off the power of what we are doing here. We take two models and transplant a component from one model onto another model in order to create a third, novel model. Then we use advanced compiler techniques (Cassette) to generate an implementation of that new model that is performant and analyzable. We need to polish that example up to make sure that everything we can

[2019-03-05 02:43] jpfairbanks commented on #19
PC feedback is over the event horizon of April 1st, so I'll close this and open a new issue with a checklist for referee comments once we hear back from the PC.

[2019-03-05 02:43] #19 closed

[2019-03-05 02:45] jpfairbanks commented on #81
So our first cut at this failed, most likely because the straight up trace of the program when linearized requires ultra long range phenomena to make sense. We are trying a new approach based on recursive neural nets.

[2019-03-05 02:54] jpfairbanks commented on #40
Serialization of knowledge graphs is hard, because the things metadata we want to store on the edges and vertices is complex data structures. Maybe storing them as ASTs that evaluate to the things we want will work.

[2019-03-05 02:57] jpfairbanks commented on #95
@gallupBenRyan, for storing the trace, I think we can go to julia expressions as a serialization format.

For example the following code will serialize arrays into ASTs that can represented as strings such that Base.Meta.parse will recover the same AST. Then you can `eval` the AST to get the actual object.
[code]

[2019-03-05 02:59] jpfairbanks commented on #95
Here is another example with some more assignments and stuff.

[code]

[2019-03-05 03:05] jpfairbanks commented on #95
This might actually be the solution, but I don't know why this works.

[code]

[2019-03-05 14:22] jpfairbanks commented on #95
[code]

[2019-03-05 14:27] jpfairbanks commented on #95
We need to handle structs like this

[code]
But create an expression like
[code]

[2019-03-05 17:02] jpfairbanks commented on #98
We need to think about what the API interface looks like for the munging of expression trees. I think we should stay close to the `Expr` objects used in Julia because they are the actual grounding for what constitutes `code` in the julia language.

1. finding things
   - variable uses
   - function definitions
   - specific subexpressions
   - constructors and types
2. modifying things
   - variab

[2019-03-05 17:37] #68 closed

[2019-03-05 19:43] mehalter commented on #98
I moved that list to checks, and checked off the functions you added. I think an API like the one you described would be extremely useful and would make it easy enough to make a very clean looking example. Next ups seems to be finding and modifying subexpressions.

Also are we going to handle interchanging variables for subexpressions or functions and vice versa?

[2019-03-05 21:24] jpfairbanks commented on #98
Thanks. And yeah I think so we would want to be able to apply the operations in any order.

[2019-03-05 22:00] crherlihy commented on #97
I agree. We need to think about whether it makes sense to combine them, and if we want to combine them, how/why/for what use cases (as the preferred answer may vary by use case). For the last deliverable, I handled schema unification from code + markdown in the extract script, but to integrate all the disparate pieces, we need a standard api, reasonable defaults upon ingestion in cases where the t

[2019-03-05 22:02] crherlihy commented on #94
This seems like something worth exploring. Were you thinking specific to the model validation use case, or for more general purpose of reasoning about similarity of different functions?

[2019-03-05 23:45] jpfairbanks opened #101 "Scaling model missing some expressions"
@infvie @kuncao0228 I was working with the SEIR model example notices something missing:

[code]
Is there something I am missing here?

[2019-03-05 23:50] jpfairbanks opened #102 "Convert expression handling code to MacroTools.jl"
I've copied in a few functions from MacroTools.jl, but we might want to just add it to our require file. I'm worried about adding dependency liabilities.

[2019-03-05 23:56] infvie commented on #101
I'll check against the cookbook and fix it

[2019-03-05 23:58] infvie commented on #101
It looks like this is the same. http://epirecip.es/epicookbook/chapters/deleo1996/julia

[2019-03-06 01:08] jpfairbanks commented on #101
It was inside a macro definition in the cookbook, but now is using the macro-free api. fixed in #100

[2019-03-06 01:31] jpfairbanks opened #103 "Models with the same structure"
How do we talk about models that have the same structure? For example if I have two models that are both SIS but one is studying a virus in people and the other is a bacterial infection in dogs, then these models will have different units, and values, but otherwise have the same structure. We want to say that these models are "equivalent" because there is a morphism between their category represen

[2019-03-06 14:15] jpfairbanks opened #105 "SemanticModels as inverse of ModelingToolkit"
ModelingToolkit.jl is a framework for building DSLs for expressing mathematical models of scientific phenomena. And so you could think of it as a meta-DSL a language for describing languages that describe models. Their workflow is:

1. Library author (LA) decides to write a library for solving models of a specific class (`C`)
2. LA develops a DSL for representing models in `C` using ModelingToolki

[2019-03-06 14:17] jpfairbanks opened #106 "Agent based model examples"
We need a few examples of agent based models so that we have some diversity away from ODEProblem.

[2019-03-06 16:09] jpfairbanks commented on #94
I was thinking that it would be useful for validation, but I agree it would be useful more broadly. see #105.

[2019-03-06 20:54] jpfairbanks opened #108 "NLP improvements"
1. add column to CSV output that identifies source for each extracted fact (ie which chapter it came from SIS, SEIR, etc)
2. try lemmatizing s/o and compare if they are the same term (ie model vs the models) and if so, remove from graph
3. need a solution for entity linking ... start by post-processing the CSV (ie remove articles, lowercase, etc) so that equivalent nodes are represented as a singl

[2019-03-06 21:06] jpfairbanks commented on #98
An example of subexpression substitution:
https://github.com/jpfairbanks/SemanticModels.jl/pull/107/commits/6c23ea48443d3bb6cdc59beb7f93a715a60a8654
[code]
We need to dig into an expression and find a `QuoteNode` and replace it.

[2019-03-06 22:36] jpfairbanks commented on #94
On further reflection, I am convinced that having a low dimensional embedding of julia codes into a semantic space would be really powerful.

[2019-03-06 22:40] jpfairbanks commented on #105
This brings to mind a Punnett square of modeling frameworks

| | Science | Data Science |
|---|---|---|
|Explicit| ModelingToolkit | Strata |
|Implicit|  SemanticModels | Data Science Ontology |

The explicit tools take structured representations as input and generate code to execute them, the implicit tools take code as input and find a structured representation within it.

[2019-03-07 12:56] jpfairbanks commented on #106
One thing we might want to do with agent based models is have an extractor/context that identifies the Finite State Machine of the agents by static analysis or running the code. Then we can talk about transforming models by changing the FSM which is a higher level of representation than the code level.

@mehalter, What is the right way to construct our ABM so that the agents are simple algebraic s

[2019-03-07 19:26] jpfairbanks commented on #105
@mehalter and I had a good conversation about this issue today. We talked about how this should be the focus of the package we publish next week. All the automating scientific reasoning stuff is really broad and abstract, but isn't something that we can ship as a polished library/framework for users to actually...use.

On the other hand, the model augmentation at the semantic level is something we

[2019-03-07 19:41] jpfairbanks opened #109 "METADATA release"
We need to release our package on Metadata so that people can use it.

[2019-03-07 20:29] jpfairbanks opened #110 "Building Corpus of julia code and which frameworks they use"
We should build a corpus of julia codes and which modeling technologies they use. We could take a first pass approximation by looking at the dependencies of every published package and identifying which modeling packages it requires.

For example if a package requires DifferentialEquations, we should expect to see some diffeq models in their src, test, doc, notebook, or example folders.

This pack

[2019-03-08 00:38] mehalter commented on #106
@jpfairbanks and I discussed this on the phone earlier today, and currently in the `example/agentbased.jl` model example and the `bin/agentgraft.jl` SemanticModels example of manipulating the ABM model is programmed how you would define the changes mathematically as a FSM/NFA, where you add the state, add the new state transitions, and modify the old state transitions. This makes it pretty complic

[2019-03-08 15:52] jpfairbanks commented on #106
Yeah I think this is on the right track

[2019-03-08 16:20] jpfairbanks commented on #87
the input data is a model as defined in a script which contains 1 top level module and a main function. The default name for the main function is `main` but you could pass in a different name if you wanted to.

example

[code]

All the data is the same, this script that contains a module and a main function. The graphs we can generate are:

- Vertices are types, edges are functions between types
-

[2019-03-08 18:29] kuncao0228 commented on #108
added to the nlpextraction branch processSVOVertices.py that creates a sim_file.csv that contains the similarity for both the source vs source nodes and target vs target nodes for thresholds above .85

[2019-03-08 18:31] kuncao0228 commented on #108
a lot of the target nodes have extremely high thresholds for cases like There vs there, and Model vs model, I'm thinking of merging edges for these cases and creating the similarity edge for the other cases we talked about

[2019-03-08 20:08] mehalter opened #111 "Relevant Julia Packages"
This is a thread to share good Julia packages relevant to SemanticModel.jl

[2019-03-08 20:09] jpfairbanks commented on #108
yeah that makes sense. To have two thresholds eg, .98+ means merge the vertex .80+ means create a "is similar to" edge

[2019-03-08 20:22] jpfairbanks commented on #111
## Julia Packages with good API
1. Differential equations
2. LightGraphs.jl
3. Flux.jl
4. [Data Structures](http://juliacollections.github.io/DataStructures.jl/latest/)
5. [Roots](https://github.com/JuliaMath/Roots.jl)

Diffeq and Roots are good because they show how to use the multiple dispatch to implement stuff that is usually implemented with kwargs or class hierarchies. Datastructures and Lig

[2019-03-08 20:31] jpfairbanks commented on #111
This is a nice tutorial showing off some highlights. http://www.cs.toronto.edu/~jsnell/assets/julia-tutorial.pdf

[2019-03-12 13:38] jpfairbanks commented on #94
We should approach this as a static analysis problem building an autoencoder for julia expression trees.

For example here are the expression trees for `g, h` from PR #90
[code]

[code]

[2019-03-12 13:44] jpfairbanks commented on #94
We can get traces by calling `SemanticModels.parsefile` on the source code for `Base`

[2019-03-12 13:54] jpfairbanks commented on #94
Related code from Automates: https://github.com/ml4ai/automates/tree/master/code_summarization

[2019-03-12 15:39] #86 closed

[2019-03-12 15:39] #101 closed

[2019-03-12 16:00] jpfairbanks opened #114 "clustering vertices to merge them"
@kuncao0228 is going to run an experiment about clustering the vertex labels in similar to #108 with a method like `UMAP.jl`. We want to see if clustering in the word2vec space can lead to a way to reconcile the knowledge graphs from multiple sources.

[2019-03-12 22:16] jpfairbanks commented on #102
Yes we should do this I think all the functionality in question is `src/findfunc` and `src/modeltools`

[2019-03-12 22:43] jpfairbanks opened #116 "Generic Transformation Type"
`ModelTools` introduces types for representing models as structured combinations of code. I think we need to apply that idea to the transformations we want to do on the models. We want a structured representation of the transformations so that we can generate the transformations algorithmically, either by writing more metaprogramming functions, or by learning the best transformation for the task f

[2019-03-12 22:47] jpfairbanks opened #117 "Explain how model augmentation relates to the broader project goals"
We are doing model augmentation in order to build a data structure representation of changes to models. This enables us to lift the level of reasoning from changes to code that implements models to changes on this model structure, and allows algorithms to generate transformations on the models.

1. How does Model Augmentation relate to the broader goals fo AI for Science?
2. How can we develop lea

[2019-03-13 13:58] crherlihy opened #118 "Construct dataflow graph for ingested .jl programs"
Currently formalizing this as:

We want to ingest the main method of a program, and recursively enumerate:

1. the set of subroutines, S = {s | s is called by main} that main calls
2.  the set of variables that main interacts with (as args, or in the form of locally scoped assignment statements), V = {v | v is passed to main, or is a local variable inside of main}
3. the set of sub-subroutines (e.

[2019-03-14 13:27] jpfairbanks commented on #116
There are chapters in this manscript about Signal Processing diagrams that are related to this topic. https://arxiv.org/abs/1803.05316

[2019-03-14 16:32] jpfairbanks opened #121 "Define Ambiguous types"
Scientific code is written with underspecified types. There are values of different semantic meanings that are represented with the same `DataType` in the code. For example there are often many different variables of type `Vector{Float64}` where the entries in the vectors represent dramatically different concepts. In a perfect world, every different modeling concept would have its own type with se

[2019-03-14 16:41] jpfairbanks commented on #121
This recovers dimensional analysis, and the linear algebra matrix shape rules enforced by most linear algebra systems.

For example in regular julia code that uses `Array{T,N}` the array type captures the information about the dimensionality, but not the sizes. When you use [StaticArrays] (http://juliaarrays.github.io/StaticArrays.jl/stable/pages/api.html) the types encode the sizes and you could

[2019-03-14 17:30] jpfairbanks commented on #121
For example

[code]

if you define `C` as the class of `valid linear algebra models`, `f` can be computed by running the code and making sure there were no `DimensionMismatch` exceptions.

If you apply the only available swap (`swap!(m, x,y)`), then you get
[code]

which errors because `a*b` will be incompatible.

but if you then refine the types to use SMatrix, everything works.

[code]
there is

[2019-03-14 17:41] crherlihy commented on #121
A basic workflow that this type of formalization can support would be:

1. For a given program $p_1$, identify/detect potentially ambiguous types.
- For all elements of a given data type, perform pairwise swaps, and observe whether oracle still returns `true`. Note that we assume here that we're able to filter the set of candidate data types, to avoid (in most cases) primitive-level swaps.

2. Tra

[2019-03-14 18:00] jpfairbanks commented on #121
One thing we are going to run into here is values that get passed to kwargs and other "optioney" things, we would have to introduce a lot of types like `Val(n::Int), Natural{Int}, Probability{R} where R <: Real` in order to prevent negative numbers from going places they shouldn't

[2019-03-15 02:38] jpfairbanks opened #122 "Product of Cyclic Group acting on a model"
In issue #116, we were talking about the free monoid over an alphabet of transformations giving you an algebraic object (a monoid `T`) that can act on an Object from the category of models `m in Ob(**Model**)` so that `t(m)` was the action of the transformation `t` on model `m`. We want to illustrate how you can use a different algebraic structure on transformations to get different modeling objec

[2019-03-15 03:11] jpfairbanks opened #123 "Update News for milestone 3 release (v0.2.0)"
We need to update the news file with the latest changes.

[2019-03-16 18:33] jpfairbanks opened #130 "Include rendered notebook form of examples in the prebuilt docs"
We need a way to make sure that people reading the docs can see the examples as rendered notebooks with their outputs.

jupytext is great for editing them, but we still need a way to distribute the rendered outputs for the docs.

[2019-03-16 21:30] jpfairbanks opened #132 "StateModels should use empty structs for states instead of Symbol"
If we use a type for each state, then the type graph of transition functions will show the DFA graph.

[2019-03-19 16:32] jpfairbanks opened #136 "Broken cookbook recipe"
@infvie can you fixe this script, something got messed up in the translation on line: 132

[code]

 Warning: Processing failed
│   file = "epicookbook/src/SIRSDynamicsLargePopulationsJulia.jl"
└ @ Main ~/.julia/dev/SemanticModels/bin/extractvars.jl:106

[2019-03-20 13:24] jpfairbanks opened #137 "Props of models"

[2019-03-20 13:35] jpfairbanks commented on #121
This paper gives a CT treatment of linear algebra. https://hal.inria.fr/hal-00919866/document

[2019-03-20 18:39] #122 closed

[2019-03-20 19:58] jpfairbanks commented on #116
#134 addresses this issue.

[2019-03-20 19:59] jpfairbanks opened #139 "Migrate examples/groups.jl to src/modeltools/transformations.jl"
Now that the examples have stabilized, I think we can migrate this code into the module.

[2019-03-20 21:03] jpfairbanks commented on #139
While doing that, we should add this Problem type which will work for every code

[code]

[2019-03-20 21:55] jpfairbanks commented on #64
This is being implemented by #114. We are going to use the variable names as text and embed them in the word2vec space with the concepts and then clustered along with them.

[2019-03-20 21:56] jpfairbanks commented on #114
This will be presented as an example notebook showing the clustering results.

[2019-03-20 21:56] #116 closed

[2019-03-20 21:57] jpfairbanks commented on #98
The grafting example has been solved in #129

[2019-03-20 21:57] #98 closed

[2019-03-20 23:33] kuncao0228 commented on #114
Should have these up tonight got caught up on some stuff

[2019-03-21 14:17] jpfairbanks commented on #111
This package might be useful for tracing and instrumenting for dynamic analysis https://github.com/JuliaML/ValueHistories.jl

[2019-03-21 15:42] jpfairbanks opened #142 "Run examples as part of unit tests"
We should be able to run all the examples as unit tests in the CI build.

[2019-03-22 01:52] jpfairbanks opened #146 "Externalizing Dependencies"
We should migrate the problem solving dependencies out of the core package and just use them for testing and examples. This would help the package reload process a lot.

[2019-03-22 11:35] jpfairbanks opened #147 "Bayesian network transforms"
I think we can do something really cool about converting deterministic code into Bayesian programs. From the data structures that we have we can put on every variable a distribution and then run the new program such that it creates and samples from distributions. We could probably do this with types like it will numbers where the part that would store the derivative instead of stores the randomnes

[2019-03-22 15:47] #136 closed

[2019-03-22 15:48] jpfairbanks commented on #139
Closed by #143

[2019-03-22 15:48] #139 closed

[2019-03-22 19:10] #146 closed

[2019-03-22 19:10] #142 closed

[2019-03-22 19:11] #132 closed

[2019-03-22 19:11] jpfairbanks commented on #109
We have a METADATA PR! https://github.com/JuliaLang/METADATA.jl/pull/22368

[2019-03-22 20:57] jpfairbanks commented on #109
Our PR is green so it will get automerged soon, up to 3 days from now IE COB Monday.

[2019-03-22 20:59] jpfairbanks commented on #97
@kuncao0228 has been working on merging text and variable names in PR #114

[2019-03-22 21:09] jpfairbanks commented on #103
We now have the typegraph datastructure available for answering this question. Agenttest2.jl shows that you can have 2 models with the same structure as models, with different typegraphs based on implementation choices. Can we create graph homomorphism between those two tyepgraphs that preserves the modeling structure.

[2019-03-22 21:23] jpfairbanks commented on #32
So far for Phase 1 we have been focused on qualitative methods of evaluation like examples and case studies.

Some paths to showing our methods work:
1. Examples of previously known modeling techniques that can be built in ModelTools.Transformations.
    - Polynomial Regression is a good example that is a known family of models that we are able to represent as an algebraic structure (monoid) actin

[2019-03-25 02:21] jpfairbanks opened #151 "Milestone 3 Checklist"
Here is the checklist with things to do before the 3rd milestone 4/1/2019:

- [x] Ensure package can run from metadata
- [x] tag v0.2.0 release and push to metadata
- [x] update readme
- [x] ensure that examples work
- [x] ensure docker container works
- [x] identify docs pages/paragraphs that need to be updated
- [x] update docs pages
- [x] clear out issues
- [x] send PDF of progress.md to aske@d

[2019-03-25 13:49] infvie commented on #117
I think that this the way for us to be thinking about this is that its adding a level of abstraction. I think a lot of procedures require significant aprior knowledge about the subjects. Regression is a good example of this. We know that A relates to B in some capacity so we can go super into the details to find the elements that map to one another. If you looked at sand paper close up and a sand

[2019-03-25 13:51] infvie commented on #130
How do we do this? do we include the fully run notebooks in the doc folder

[2019-03-25 13:57] infvie commented on #123
What should go in the news?

- [ ] shift in project from cassette to meta
- [ ] new examples
- [ ] all model tool funcs?

I am sure this list is missing stuff, but we should add them as checkboxes

[2019-03-25 14:04] infvie commented on #103
How do we do that?

[2019-03-25 19:26] jpfairbanks commented on #130
We could include the fully run notebooks in the doc folder, but would still need a way to render them into HTML inside Documenter.jl

[2019-03-25 19:35] jpfairbanks commented on #130
This package uses Weave.jl to make documenter compatible markdown files for the docs. https://github.com/Evizero/Augmentor.jl/blob/master/docs/exampleweaver.jl

[2019-03-25 19:37] infvie commented on #130
Sounds good so we just need  run `ipython nbconvert --to HTML notebook.ipynb` for the whole directory and make sure they are in the right locations in the docs?

https://ipython.org/ipython-doc/3/notebook/nbconvert.html

[2019-03-25 19:40] infvie commented on #130
Sorry, wifi was slow before second comment came through. I can take a stab at this.

[2019-03-26 01:15] jpfairbanks commented on #117
Yeah these are good perspectives. I also think that we can summarize the benefits as

### Abstraction

Modeling operations have similarities across domains and we can build general model augmentations that let scientists translate operations from one domain to another. The code that defines transformations is also "general modeling code" so our abstraction is closed.

### Symbolification

The geom

[2019-03-26 01:18] jpfairbanks commented on #130
That would be great, `jupytext --to markdown $f.jl && julia weave.jl $f.md` and then copying that `.jmd` file created by weave into the `docs/src/` folder would be good.

I don't know what the weave.jl script is but the docs provide instructions.

[2019-03-26 01:20] jpfairbanks commented on #123
yeah those things definitely need to go in. We still provide dubstep, so we don't need to highlight the fact that cassette isn't playing as big of a role as it used to.

@infvie can you make a PR with the updated news file with those things listed out?

[2019-03-26 01:28] jpfairbanks commented on #103
We need a function from vertices of the big graph `G, (u,v)` to vertices of the smaller graph `H, (a,b)` such that if `(u-> v) in E(G)` then` f(v) -> f(u) in E(H)`. I think we can do it by hand for the type graphs because they are so similar. The vast majority of vertices should just map to themselves.

[2019-03-26 03:03] jpfairbanks commented on #103
Once we are satisfied with the exposition in #152 for this we can close this issue and open a new one for Phase 2 with a more general purpose graph homomorphism finding algorithm on typegraphs and dataflow graph.s

[2019-03-26 03:04] jpfairbanks commented on #151
We have to update and test our docker container.

[2019-03-26 15:11] crherlihy commented on #64
Clustering in the vector space is aligned with how we originally planned to handle this. I think we can close this issue out for now. Schema harmonization might still be helpful but is no longer a baseline expectation since our use-cases (and associated graphs) have splintered (e.g., we no longer expect a single, unified graph, but rather, can use ingested code/text to construct several different

[2019-03-26 15:11] #64 closed

[2019-03-26 15:20] crherlihy commented on #108
@kuncao0228 @jpfairbanks  seems like you resolved this but I think there might be a case for creating a list of stopwords, and/or lower-casing non-proper nouns so that terms which are actually identical can be de-duped rather than merged. Also worth documenting somewhere non-code based what our cutoff thresholds were and why we chose them.

[2019-03-26 15:23] crherlihy commented on #110
@jpfairbanks  is the objective here to build a master dependency list, or are also considering the packages as candidates for parsing/using for graph construction, meta-modeling, etc.?

[2019-03-26 15:25] crherlihy commented on #114
See my comments on #97 and #114. I think if/when we close #114, we can close this issue as well.

[2019-03-26 15:57] crherlihy commented on #117
To add some thoughts here:

We are endeavoring to augment scientific workflows by meaningfully (e.g., non-trivially) pruning the metamodel generation state space. When scientists/researchers design algorithms and methods to investigate and/or solve particular classes of problems, they must confront: (1) known unknowns (e.g., a class of parameters or components they are aware of and hypothesize mus

[2019-03-26 16:19] crherlihy commented on #147
We could also introduce the idea of uncertainty re: transition states, and/or the credibility of inputs (e.g. from robotic perception, for example).

[2019-03-26 17:13] jpfairbanks opened #153 "Examples that use LsqFit need to install it."
For all the statistics examples they need to include this snippet at the top.

[code]

[2019-03-26 17:19] jpfairbanks commented on #153
This worked for workflows
[code]

[2019-03-26 17:20] jpfairbanks commented on #153
This needs to be added to /test/*.jl too.

[2019-03-26 18:00] jpfairbanks opened #154 "Make sure examples render correctly with jupytext in docker container."
I opened them up and the cell boundaries were all confused.

[2019-03-26 18:03] jpfairbanks commented on #85
@crherlihy do you still want to make this diagram? I can share the template I used for the examples/agentbased.jl models so we can match style with that. Otherwise graphviz is a good choice.

[2019-03-26 18:04] jpfairbanks commented on #106
This is closed in #107

[2019-03-26 18:04] #106 closed

[2019-03-26 18:12] #109 closed

[2019-03-26 18:34] #42 closed

[2019-03-26 18:45] jpfairbanks commented on #110
I think these are candidates for identifying "major frameworks" that we would want to build around and also providing a corpus for the text based methods.

I think from a corpus of code that uses a modeling framework, we can learn what the API is from the snippets of code that uses that API. Since representing the API of a modeling framework is the first step in making a modeltool for that framewo

[2019-03-26 18:45] crherlihy commented on #40
test

[2019-03-27 00:42] jpfairbanks commented on #108
Yeah i think we will need to create a set of action items for how to improve the quality of our NLP pipeline over the next year.

[2019-03-27 01:03] #32 closed

[2019-03-27 01:50] jpfairbanks commented on #151
- [ ] fix docstrings on modeltools/#ModelTools-Library-Reference-1

[2019-03-27 01:52] #117 closed

[2019-03-27 01:53] #103 closed

[2019-03-27 01:53] #105 closed

[2019-03-27 12:41] jpfairbanks commented on #130
Here is an example of a weave script that we should be able to copy. https://github.com/JuliaDiffEq/DiffEqTutorials.jl/blob/master/src/DiffEqTutorials.jl we should just have to change the text in the templates and the header and footer.

[2019-03-28 13:48] mehalter commented on #153
These dependencies are being handled with docker. Should we assume if they are using docker they have them, and if they are not using docker then people can handle adding those dependencies on their own?

Also I disagree with them being added to test/*.jl because those are run when you do the julia test function and those dependencies should be handled in the Project.toml

So depending on what ass

[2019-03-28 13:57] jpfairbanks commented on #153
Yeah i agree. Let’s install the deps into the docker container so that they just work and then add a note in the examples folder that lists the dependencies so that a non docker user can install them manually before running the notebooks.

Then we cover both bases without a hack

[2019-03-28 14:08] mehalter opened #159 "Fix odegraft.jl Example"
There is some sort of index out of bounds error on the `odegraft.jl` example. Could you figure out what it is? I am not familiar with the case/what would be the correct indexes.

[2019-03-28 16:06] jpfairbanks commented on #159
Yeah I'll take a look this afternoon.

[2019-03-28 22:37] jpfairbanks commented on #159
This bug is embarrassing. It is from a find and replace gone wrong.

when we refactored all the `AbstractProblem` subtypes to `AbstractModel` and did `s/Problem/Model/g` the following code broke.
[code]
it should be
[code]

[2019-03-28 23:32] jpfairbanks opened #163 "Clean up validation code"
@gallupBenRyan can you go through all the files related to validation and make sure they are in the right place and if they aren't necessary anymore, remove them?

[2019-03-28 23:34] #94 closed

[2019-03-28 23:35] #114 closed

[2019-03-29 01:04] gallupBenRyan commented on #163
Sure thing.

Are there any we want to stay, maybe in a different folder, as part of the future research around "DeepValidate?"

[2019-03-29 03:42] crherlihy commented on #85
[aske_use_cases_v0.pptx](https://github.com/jpfairbanks/SemanticModels.jl/files/3021027/aske_use_cases_v0.pptx)
also posting in box. I can commit this if we think it's helpful, but the diffs won't be super meaningful.

[2019-03-29 13:18] #153 closed

[2019-03-29 13:19] #159 closed

[2019-03-29 13:59] jpfairbanks commented on #85
This is great, I edited the box version and included it in the final report.

[2019-03-29 13:59] #85 closed

[2019-03-29 14:00] jpfairbanks commented on #163
yeah go ahead and make a folder that has your best effort on the deep validate stuff. Write at the top of the files "WIP: work in progress on deepvalidate. This code is not expected to work at this time"

[2019-03-29 14:20] mehalter commented on #154
This is fixed in the latest pull request I did. Everything with docker looks good now.

[2019-03-29 14:20] #154 closed

[2019-03-29 14:36] jpfairbanks commented on #118
Closed by #145

[2019-03-29 14:36] #118 closed

[2019-03-29 14:38] jpfairbanks commented on #87
So this turned into the general model augmentation API and the typegraph API which is much easier to think about than grafting. API for that is documented with the examples and the #85 covers the interactions between the knowledge graphs.

[2019-03-29 14:38] #87 closed

[2019-03-29 17:02] #163 closed

[2019-03-29 17:11] jpfairbanks commented on #26
Complex scripts like this are now best handled by the ModelTools.SimpleModel type.

[2019-03-29 17:11] #26 closed

[2019-03-29 17:40] jpfairbanks opened #167 "Fix Agenttypes2.jl example"
1. `draw(g, "exampletypegraph.dot")` should be `draw(h, “exampletypegraph.dot”)`.
2. delete comments that are not informative like
[code]
3. add hyperlinks for "agentbased2.jl" and "agenttypes.jl" so the user can see the underlying source code.

[2019-03-29 17:50] crherlihy commented on #121
Going to tag this with punt because full implementation of the oracle approach we discussed won't happen for this release, but would be a natural next step for next cycle.

[2019-03-29 17:58] jpfairbanks opened #168 "Make docs page for pointing to examples"
we need a page that points people to the files in the folder `/doc/src/examples/html/`.

[2019-03-29 18:22] jpfairbanks opened #169 "Organize /doc/src/img"
We should make a /img/build for the png, svg and /img/src for the .dot and .tex sources.

[2019-03-29 19:11] #168 closed

[2019-03-29 19:16] jpfairbanks commented on #130
Closed by #156

[2019-03-29 19:16] #130 closed

[2019-03-29 19:41] #123 closed

[2019-03-29 20:22] #167 closed

[2019-03-29 20:25] attobot opened #172 "Error tagging new release"
The tag name "v0.2.01-rc1" is not of the appropriate SemVer form (vX.Y.Z).
cc: @jpfairbanks

[2019-03-29 23:24] #78 closed

[2019-04-01 01:28] #172 closed

[2019-04-01 01:30] jpfairbanks commented on #151
https://github.com/JuliaLang/METADATA.jl/pull/22571

[2019-04-03 14:35] #151 closed

[2019-04-03 14:37] jpfairbanks commented on #102
@mehalter Can you take a crack at this when you get a chance? I think this will help reduce a lot of corner cases and provide a fresh slate for implementations when we get started on phase 2.

[2019-04-03 22:43] jpfairbanks opened #175 "Use generated functions to remove evals"
I think we can avoid our heavy use of eval and Bass.invokelatest if we use `@generated` functions.

[2019-04-04 02:22] jpfairbanks opened #176 "Random walks on models"
Given a model and a set of feasible transformations on that model we can define a random walk on the class of all models. We should implement that and write some Monte Carlo algorithms over models

[2019-04-07 12:48] jpfairbanks opened #177 "Soss as a backend"
Can we generate a soss.jl program from a deterministic program to make a Bayesian version of it?

https://github.com/cscherrer/Soss.jl/blob/master/README.md

[2019-04-08 20:27] jpfairbanks opened #178 "Make typegraph easier to use"
These functions from the notebook agentbased2.jl should be added to the library to make typegraphs easier to use.

[code]

[2019-04-09 19:00] jpfairbanks opened #180 "Model Extension as functors between models"
If we treat the set of all julia types as a category where the objects are types and the morphisms are functions, then models are subcategories of this category. We can talk about metamodeling as constructing functors between subcategories.

I thought that we could say that a program transformation is a functor between models. `F:M->M'` but that doesn't work because you can't do things like split

[2019-04-10 02:00] jpfairbanks commented on #180
If the functor `F:M'->M` is a [full and faithful](https://en.wikipedia.org/wiki/Full_and_faithful_functors) does that make `M',M` equivalent categories? Is this an [equivalence relation](https://en.wikipedia.org/wiki/Equivalence_relation), namely is is reflexive, symmetric, and transitive?

Does the set of full functors induce a poset on the category of models? Perhaps `M <= M'` if there exists a

[2019-04-10 02:05] jpfairbanks commented on #180
I think that model transformations that "just change the math" without changing "the structure" of the model are fully faithful functors.

For example, this program transformation just changes math, without changing the structure. It should be some special type of functor like fully faithful or something.
[code]

[2019-04-17 03:53] jpfairbanks commented on #19
Here is the final version: [ASKE_MWS19_final.pdf](https://github.com/jpfairbanks/SemanticModels.jl/files/3087852/ASKE_MWS19_final.pdf)

[2019-04-17 12:50] infvie commented on #180
I'm not so sure if I agree with "_just change the math_" I don't think that's well defined. For example if I change a 3-mean to a 4-mean cluster is that just a change of math? Structural the program won't change that. Another example issue I see is regression going from 'SLR' to 'Quadratic Regression' has semantic meaning to the operation itself. I think here we first need to restrict this to *pri

[2019-04-17 14:33] jpfairbanks commented on #180
Yeah "just change the math" is definitely not well defined. I think we can take the fully functor definition, which is a well defined concept and use that to define "same structure". Also, what do you mean by *primitive* in this context?

[2019-04-17 19:46] infvie commented on #180
To me, I would consider any operation that adds constants which can be categorized as `affine` transformations to the model would be considered _primitive_.

Perhaps we could try and generalize further to have `x' is said to have a primitive transformation iff x is a proper subset` with the idea being a larger transformation _would have to alter the set x_ although I feel less certain of this

[2019-04-30 18:12] jpfairbanks commented on #176
1. Assume that the transformation set you are given is a set of "valid" transformations.
2. Pick a model UAR by repeatedly applying transformations chosen at random
3. deal with the fact that transformations are not invertible.

[2019-05-03 13:10] jpfairbanks opened #183 "Semantic Constraints for Stats Modeling"
@crherlihy and I discussed some "semantic constraints" we want to add to our framework. In building statistical models there are rules about what kind of transformations are valid for different types of measurements and their role in the model. The proposed implementation is similar to Unitful, where we tag data with its modeling role in the type system and then use multiple dispatch to enforce so

[2019-05-06 02:22] jpfairbanks opened #184 "Compositional Modeling Frameworks"
This paper by Baez https://arxiv.org/abs/1704.02051 shows how to represent reaction networks as a category and use composition to build up more complex models as compositions of simpler models. It seems to heavily cite Fong's thesis: https://arxiv.org/pdf/1609.05382.pdf

@mehalter and I had a good conversation about building post-hoc modeling frameworks based on this kind of representation. If we

[2019-05-06 18:15] infvie opened #185 "Comparing Models: Matching vs Subgraphs"
@jpfairbanks and I got into a discussion about how we could possibly do a matching problem to model the similarities between models instead of doing something like checking to see what is the largest sub-graph shared between two models.  These are some of the points of discussion:
- What would the sides be for the bipartite graph?
  - use the vars from model one vs the vars for model two and move

[2019-05-09 14:29] jpfairbanks commented on #183
Here is the Julia implementation of the R style formula language Docs: https://github.com/JuliaStats/StatsModels.jl/blob/master/docs/src/formula.md Src: https://github.com/JuliaStats/StatsModels.jl/blob/master/src/formula.jl

I think this DSL is a good example of a pre-hoc modeling framework where there is a language for representing models and then you can express models in that framework to leve

[2019-05-09 14:32] jpfairbanks commented on #185
Let's take a step back and define the problem you want to solve, before we get into the details of techniques that can solve it. What do you mean by "model the similarities between models"?

[2019-05-13 10:39] jpfairbanks commented on #183
I took a crack at implementing a formula based approach (as opposed to the data tag approach in PR #186). I think we need both approaches because the formula based is more of a pre-hoc, "if you use my framework, then you can't make mistakes" and the data tag approach is more of the post-hoc, "you just write code and we will inject these types to add capability later"

Just stashing the code on thi

[2019-05-13 10:45] jpfairbanks opened #187 "ArithModel types"
From Paul Hein at UA we got the following julia code for PETPT and PETASCE. I think these are good usecases for using `ModelingToolkit.Equation` to represent all the math. The open question is what to do about the conditionals.

[code]

[code]

[2019-05-16 14:01] datnamer commented on #111
https://github.com/alan-turing-institute/MLJ.jl

https://julialang.org/blog/2019/05/beyond-ml-pipelines-with-mlj

[2019-05-16 21:28] jpfairbanks opened #188 "Describe our workflow in the revised ASKE language"
We came up with a new vocabulary around metamodeling. We need to have high level representations of our project in this new vocabulary.

[2019-05-22 19:01] jpfairbanks commented on #185
We talked about this on the phone can came to the conclusion that we want to take a model and change it using the system to create a novel model. This way you never have to compare two extant models. And the systems should build transformations in such a way that the relationship between the old and new models is captured during the transformation process.

[2019-05-22 19:01] #185 closed

[2019-05-22 20:13] crherlihy opened #191 "Formalize how our IR is represented and constructed"
Much of the discussion at the May 2019 PI meeting was focused on defining (or converging toward a shared definition of) the layers of the metamodeling stack, and how we can formally represent and move between these layers.

The general consensus that has emerged is that there are 3 levels:

1.  Abstract level (domain-specific; semantically rich)
2. Structured level (domain-agnostic; mathematical m

[2019-05-22 21:41] crherlihy commented on #188
I think we should consider that there will generally be multiple possible metamodeling workflows, and that the sequence of movements up/down the metamodeling stack can also be represented by our IR. Useful metaphors: circuit diagram; sheet of music.

I also think it might be worth adding a "interpretation/action" step that comes after the model has produced results. I've extended the diagram we di

[2019-05-24 13:27] kuncao0228 opened #193 "Identifying Similar Models"
In Phase 1 for the NLP project, we identified key concepts from a range of models of epidemiology and grouped them.  For a method of identifying similar models, I am proposing that we create graph representations of model to key concepts that relate only to that specific model, for all the models in our code base. We can then compare vector space similarity of the concepts between models. The user

[2019-05-24 15:21] jpfairbanks commented on #193
So this would take the olog representation of the formulation and map each box to a concept in the knowledge graph? The mapping is based on the similarity of the textual names using a deep NLP similarity model.

Then we could look at the sub graphs of overlapping concepts and compare them as graphs. I think this would be a pretty good way of comparing ologs.

[2019-06-06 13:14] jpfairbanks opened #194 "Demo with Galois and Arizona"
For our demo to Darpa we decided on the following steps

- [ ] GTRI will provide SEIR and SIR models in the required output format (ie well structured agentmodels julia code)
- [ ] @pauldhein will derive the fortran code that they can use to generate that julia code, epirecipes documentation will be provided to test equation and text reading
- [ ] SemanticModels will generate multiple variations o

[2019-06-06 18:43] jpfairbanks commented on #194
Steps for GTRI

- [ ] @kuncao0228 Generate Documented SIR and SEIR code for @pauldhein
- [ ] @crherlihy Get AMIDOL IR examples from @ewdavis for SIR model
- [ ] @crherlihy generate AMIDOL IR examples from our SIR and SEIR model julia codes
- [ ] @mehalter write the transformations that we want to show in the demo

[2019-06-06 23:26] jpfairbanks opened #195 "PetriNets and Wiring Diagrams"
The catlab branch has some code in `src/petri.jl` that implements petrinets as a modeling framework and then some code to convert them to wiring diagrams, I don't think that code is right, but I'm not sure how to fix it.

We should be able to model a Petri Nets as a category P and represent each Petri Net as a functor from the category of P to Set like a P-Instance or something like that.

[2019-06-07 11:30] kuncao0228 commented on #194
https://github.com/jpfairbanks/SemanticModels.jl/pull/196

added SEIR model from modification of agentbased2.jl SIR example

[2019-06-07 15:34] jpfairbanks commented on #195
@mehalter take a look at https://eprints.soton.ac.uk/261951/1/strong-conf.pdf

[2019-06-07 17:01] jpfairbanks commented on #195
https://johncarlosbaez.wordpress.com/2017/07/30/a-compositional-framework-for-reaction-networks/

[2019-06-08 05:55] cl4yton commented on #194
Hi @jpfairbanks and crew:

@pauldhein has made a first cut at translating the original DiscreteTimeSIR.jl and DiscreteTimeSEIRD.jl from https://github.com/jpfairbanks/SemanticModels.jl/tree/master/examples/epicookbook/src
to python.

First, to make sure we're on the same page, we're assuming that
(1) The "DiscreteTime" versions (as opposed to the {SIR,SEIR}Model.jl) of the julia code are best as t

[2019-06-08 11:40] jpfairbanks commented on #194
While the cookbook is a good example of wild scientific code we took their examples and reimplemented them in an “ABM library” that we wrote ourselves. Our operating theory is that every library defines a modeling framework and we wanted a framework that was really simple. So the best codes to work with are

SemanticModels.jl/examples/agentbased.jl and the contents of PR #196 (which will be merged

[2019-06-08 11:41] jpfairbanks commented on #194
PS someone commented to me at MWS that I should be more precise about distinguishing SIR from SIRS models. So I’m still working on that.

[2019-06-10 18:12] jpfairbanks opened #198 "Type reflection vs Type inference"
We are getting the type info by runtime reflection instead fo just asking the compiler for the static type inference results.

Here are some resources that explain how to use the compiler to get this info:
https://github.com/JuliaLang/julia/blob/f75ed74162b93d1290f3028bcec5aa045a396a49/doc/src/devdocs/inference.md

https://github.com/JuliaLang/julia/blob/aee211b12590fb2016bb574ddc68a9c337df4004/do

[2019-06-12 18:00] infvie opened #199 "New API"
This is an issue to discuss what our new API will look like and how the interactions will happen on the typegraph once extracted. One idea was implementing a DSL using the REPL environment directly using `ReplMaker.jl`
### commands in the repl would be mapped under the hood as follows
[code]

[code]

[2019-06-13 14:38] jpfairbanks commented on #195
What should the return value of run! be? The network, the final marking, or some kind of return code like

[code]

[2019-06-13 17:32] crherlihy commented on #199
Was just talking with @infvie about this issue, and wanted to post here that I think it's important in the api design we think about second-order/meta use cases. Eg., additive operations are necessary but not sufficient and what we're interested in defining are the class of operations that yield a closed set under some class models, as well as use cases that are about how we'd use the typegraph to

[2019-06-17 15:19] mehalter commented on #111
Lens.jl - implement lens technique for traversing AST

https://github.com/zenna/Lens.jl

[2019-06-17 15:41] jpfairbanks opened #201 "Changes to ABM"
@ewdavis' feedback on ABM

1. have each event generate a time step based on being exponentially distributed
2. select the minimum time using sum(rates) => improve computational cost
3. separate out all the transitions into their pairwise transitions
4. make it lattice equivalent to the ODE version.

[2019-06-20 03:00] jpfairbanks commented on #195
@ewdavis, @rrwright, @cl4ton i think this is the new code for the PetriNet (AMIDOL flavor) based simulation of the SIR system.

[code]

the `@grounding` macro is some way to encode the ontological information about the model, we can use arbitrary trees in here to avoid having to specify it in some serialization format. We are going to just use `ast = parsefile("main.jl"); dump(IOContext(stdout, :l

[2019-06-20 03:08] jpfairbanks commented on #195
The corresponding AST dumped without line numbers is

[code]

[2019-06-20 03:14] jpfairbanks commented on #195
A more compact, and easier to parse version of the AST can be given by something about the parentheses is very appealing...

[code]

[2019-07-11 19:57] infvie commented on #199
I put up a pull request with two possible apis for the find and replace. The main difference being the second is implemented as a DSL wrapper for DiffEqus.jl. Please let me know what other edits should be included

[2019-07-12 03:30] jpfairbanks opened #205 "Conversion of Petri to ODE"
[code]

[2019-07-12 03:37] jpfairbanks commented on #205
This code generates the following function
[code]

which is the conversion of the Petri Net into an ODE, the last part is to get the \Deltain \Deltaout -> \Deltainm, \Deltaoutm and then slap the DiffEQ boilerplate on it. But we could use this to build our first functor between model classes, Petri -> DynamicalSystem.

[2019-07-17 21:13] crherlihy opened #208 "Integrate modeling and composition of open games"
The objective is to integrate the modeling of open games with our Petri-net representations of diffEq and agent-based models. This is intended to broaden the set of models (and atomic modeling units) about which we can reason, compose, and perform meta-modeling tasks (e.g, to include a subset of game-theoretic models from economics, political science, ecology, etc.).

From a category theoretic per

[2019-07-22 11:43] jpfairbanks opened #209 "ASKE layers interpreted compositionally"
After going to ACT, I am totally convinced that we have the right formulation for the ASKE layer diagram in a mathematically rigorous way.

| Layer | CT Concept |
|---|---|
| Domain knowledge  | Ologs |
| Structured knowledge | Monoidal categories |
| Executable knowledge | Julia code^1 |

We can make lenses between layers that preserve the compositional structure. The Structured knowledge layer w

[2019-07-29 19:25] jpfairbanks opened #211 "Polynomial Model Transformations"
A good case study in our Model Augmentation as a lens with rewrites could be polynomial regression again.

1. Generate Data from a complex polynomial
2. Write a code that fits that data
3. Write a lens between polynomial regression code and polynomial models
4. Apply model transformations to generate new polynomials
5. show that we can do model selection faster with polynomials and transformations

[2019-08-28 22:33] jpfairbanks opened #212 "Example of wiring diagram from fortran code"
Hi @pauldhein here is that code we were talking about today.

[code]

[2019-09-07 18:44] jpfairbanks commented on #209
Update: Mutually Decorated Cospans over FinSet is the right answer here.

Layer | CT Concept
-- | --
Element knowledge | Cospan over Finite Sets
Structured knowledge | Symmetric Monoidal category
Executable knowledge | Julia code
Domain knowledge | Relational Olog
Data knowledge | Schema

Models have two important properties,

1. models have *domain and codomain* `f:X->Y` that work like functions,

[2019-09-19 14:55] mehalter opened #214 "Implement Decorated Cospans"
Finish up new category theory API of Span, Cospan, Pushout, Pullback, DPO, Decorations abstractly and for finite sets. Move to Category package within SemanticModels

[2019-09-19 14:57] mehalter opened #215 "Implement PetriModel with new API"
Move PetriModel implementation to the new Category API as a decoration on a cospan of finite set where the objects are a finite set of states/transitions and the decoration is a PetriNet.

Implement category theory morphism support for pushout, dpo, etc.

[2019-09-19 14:58] mehalter opened #216 "Implement ODEModel with new API"
Move ODEModel implementation to the new Category API as a decoration on a cospan of finite set where the objects are a finite set of states/transitions and the decoration is an ODE.

Implement category theory morphism support for pushout, dpo, etc.

[2019-09-19 15:00] mehalter opened #217 "PetriNet to ODE Decoration Example"
Create example of decorating a finite set cospan with both a PetriNet and ODE to demonstrate moving a model between different domain implementations.

[2019-09-19 15:01] mehalter opened #218 "Implement RelationalOlog Decoration"
Implement RelationalOlog decoration on a cospan of a finite set of objects and implement necessary category theory definitions to solve pushout, dpo, etc.

Show that the instance of the decoration creates a knowledge graph.

[2019-09-19 15:03] mehalter opened #219 "Implement Schema Decoration"
Implement a database Schema decoration on a cospan of finite sets, define necessary category theory morphisms to solve pushout, dpo, etc.

Show that an instance of the category creates a database instance that can hold valid data that would be inputted into the model.

[2019-09-19 15:07] mehalter opened #220 "Full SemanticModel Demonstration"
Combine the decorated cospan API with the PetriModel, ODEModel, RelationalOlog, and Schema decorations to show a full demonstration and use of the SemanticModels API to augment, validate, and solve a model.

Have an example where you can have a valid augmentation in the PetriModel and ODEModel decorations, but when the augmentation is applied to the RelationalOlog decoration you get an incompatibl

[2019-09-19 15:11] mehalter opened #221 "Implement BayesModel Package in ModelTools"
Finish implementing the internal category theory representation of Bayes Nets using Wiring Diagrams

Implement the BayesModel package as an extension of the Category API where the BayesModel is a decoration on a cospan of finite sets where the decoration creates a valid BayesNet where the objects are the states in the finite sets, and the transitions show the conditional dependencies and associate

[2019-10-10 16:08] #102 closed

[2019-10-10 16:10] jpfairbanks commented on #175
The answer to this is `mk_function` from GeneralizedGenerated.jl used in Petri.jl here https://github.com/mehalter/Petri.jl/pull/2. This should be updated whenever we update a piece of code

[2019-10-14 13:47] jpfairbanks commented on #205
Closed by changes to Petri.

[2019-10-14 13:47] #205 closed

[2019-10-14 13:49] jpfairbanks commented on #184
We have working examples of compositional modeling on #223, where you can use SMC operations to build models of dynamical systems.

[2019-10-14 13:49] #184 closed

[2019-10-24 16:41] benide opened #224 "Stochastic Differential Equations"
An SDE is given by `dX = f(X,t)dt + g(X,t)dW`. This could be represented by a product category, maybe Petri × AlgebraicNet or similar for representing the drift `f` and diffusion `g`. I'm not convinced this is correct, but it's a good place to start thinking about it.

[2019-11-01 12:25] mehalter opened #227 "Split up `CategoryTheory.jl` into its own folder"
This should probably go in a new folder like `/src/category/cateogy.jl` if it keeps growing we could do
[code]

It is probably overkill to use 4 files for this right now, but that should be on the roadmap as the amount of CT code we write grows.

_Originally posted by @jpfairbanks in https://github.com/jpfairbanks/SemanticModels.jl/pull/213#issuecomment-530798707_

[2019-11-04 20:39] #214 closed

[2019-11-04 20:39] #215 closed

[2019-11-04 20:40] #209 closed

[2019-11-04 20:44] jpfairbanks commented on #219
Per conversation today:

1. Schemas associated with each FinSetCospan have a table for each state
2. The rows of that table are observations of the entities (tokens) that inhabit that state
3. The columns are (primary key, entity id, timestamp, fk1, fk2 ...)
4. Foreign keys exist if there is "transitioned to" relation between two observations
5. A join on this FK returns "the set of state transiti

[2019-11-04 20:45] jpfairbanks commented on #218
These relational ologs should be based on https://arxiv.org/abs/1706.00526.

[2019-11-25 13:52] jpfairbanks opened #237 "Better handling of Decorated type"
As we move to treating multiply decorated cospans like a vector of AbstractModels, we might want to consider refactoring it into a subtype of AbstractVector.

In this case a Decorated is like an AbstractVector of Models that also has `dom,codom`
we could do `Decorated <: AbstractVector{AbstractModel}` and then a lot of other Base functionality would come, like `map, filter, broadcasting`...
we jus

[2019-11-25 13:55] jpfairbanks opened #238 "PetriModel v2"
Now that we understand that each PetriNet presents a Commutative Monoidal Category, we should build a version of PetriModel that stores the petri net as a Catlab.Presentation structure. Then we can manipulate PetriNets with the same CAS techniques we are developing for general presentations.

[2019-12-20 18:05] jpfairbanks opened #239 "Probabilistic Programming Languages"
What would it take to build out a SM.jl representation of a PPL like http://www.zenna.org/Omega.jl/latest/model/ or https://github.com/cscherrer/Soss.jl?

[2020-01-06 17:17] #218 closed

[2020-02-21 17:32] Quar commented on #101
Sorry for the trouble, but just in case it worths noting for beginners -- it seems the Jupyter Notebook at
[`SemanticModels.jl/examples/epicookbook/notebooks/SimpleDeterministicModels/ScalingModel.ipynb`](https://github.com/jpfairbanks/SemanticModels.jl/blob/8d4a4b3b079e1c13baee8dc9db4b3d460197b4bd/examples/epicookbook/notebooks/SimpleDeterministicModels/ScalingModel.ipynb)

is not updated with [`

[2020-03-12 20:25] jpfairbanks opened #240 "Updating to new Catlab version"
SemanticModels has fallen really behind Catlab development. We need to bump that up to a modern version of Catlab.

[2020-03-12 20:25] jpfairbanks commented on #239
When we talked to @epatters about Markov Kernels, he suggested that the doctrine of Markov Kernels could be a basis for PPLs.

[2020-03-12 20:28] mehalter commented on #240
I'll take lead on this starting Monday. I have a really good understanding of the update (since I wrote most of them) and don't think it will be too much for me to do

[2020-03-12 22:44] jpfairbanks commented on #240
👍, probably also a good time to clean up all our outstanding branches.

[2020-03-17 23:44] jpfairbanks opened #242 "Dependency on ModelingToolkit?"
Do we need to use Modeling Toolkit? We can just use Catlab's math formulas https://github.com/epatters/Catlab.jl/blob/master/src/experimental/MathFormulas.jl

[2020-03-18 13:56] mehalter opened #243 "Remove ModelTool Specific Package Dependencies"
We should remove the ModelTool Specific Package Dependencies like DiffEq (I think we have done this, at least talked about it) and Petri.jl, and leave it up to the user to add them as they need them. We can create an environment in the `examples` folder to have examples that use these packages.

[2020-03-18 13:56] mehalter commented on #243
activate the examples/ env and `add` the local version of the package

[code]

[2020-03-18 14:14] jpfairbanks commented on #243
yeah, each subfolder of `examples` should have a Project.toml file that you activate before you run the example, which will install all the necessary dependencies for that example. We might need to split SemanticModels into a SemanticModelsBase which includes all the common types and functions and then packages like

1. SemanticPetri
2. SemanticDiffEq
3. SemanticGraphs
4. SemanticPhysics
5. Semant

[2020-03-22 17:36] jpfairbanks commented on #242
This is now being addressed in #243

[2020-03-22 17:36] #242 closed

[2020-03-22 17:41] jpfairbanks commented on #199
Closing as stale

[2020-03-22 17:41] #199 closed

[2020-03-22 17:42] jpfairbanks commented on #217
This was covered in the Malaria example

[2020-03-22 17:42] #217 closed

[2020-03-22 17:44] jpfairbanks commented on #220
This was demonstrated at the December Meeting.

[GTRI_milestone9_slides.pdf](https://github.com/jpfairbanks/SemanticModels.jl/files/4365700/GTRI_milestone9_slides.pdf)
[GTRI_milestone9_slides.pptx](https://github.com/jpfairbanks/SemanticModels.jl/files/4365702/GTRI_milestone9_slides.pptx)

[2020-03-22 17:44] #220 closed

[2020-03-22 17:46] jpfairbanks commented on #227
We should think about migrating this code to the Catlab Standard Library. Basically for every doctrine C, we can generate an instance of Cospan(C). Decorated cospans should be built on top of that interface.

[2020-03-22 18:16] jpfairbanks opened #245 "Removing old features for next release"
We have learned a lot about what SemanticModels should do over the last year and a half. At this point we have accumulated a bunch of features that we don't need any more. We need to conduct an inventory to determine what we can cut. This really requires a discussion about what our new scope will be for the next phase of the project.

[2020-03-27 16:47] #240 closed

[2020-03-27 16:51] jpfairbanks commented on #245
So the project is going in a different direction, but we we want to keep around the extraction code for the last release under ASKE since that was a core functionality of the library early in the project. The new directions involve less extraction (this will be handled by `Catlab.@program` going forward.

Here are some files that need to stick around for the last ASKE release but can get removed f

[2020-04-06 17:53] jpfairbanks opened #249 "BayesNet Instance of Decorated Cospans"
I think we want to take a crack at Decorated Cospan Approach

(X1⊗X2 → X3⊗X4⊗X5) ⋅ (X1⊗X2⊗X3 → X4⊗X5) == (X1⊗X2 → X6⊗X7)

[code]

[2020-04-06 18:51] #245 closed

[2020-04-06 19:05] jpfairbanks opened #250 "Roadmap for SemanticModels 2.0"
Next steps

1. Move SemanticModels.CategoryTheory to Catlab.Cospans.FinSet
    - Create Theory, Syntax, Instance for FinSet Cospans
    - Each decorator for decorated cospans is a different instance for the same Theory and Syntax `FinSetCospans` `FreeFinSetCospans`
    - `@instance FinSetCospans Decorated{FinSetMorph, T} begin ... end`
    - Move PetriModels, GraphModels, RelOlogModels to this new

[2020-04-06 21:39] jpfairbanks commented on #177
Yes I think we are going to do this in coordination with https://github.com/epatters/Catlab.jl/issues/153. Just make Soss.Model an instance of the CCC theory and then call rand on it.